<footer>
  <h2>Support</h2>
  <a href="mailto:farreachco@gmail.com">FarReachCo@gmail.com</a>
  <br />
  <h2>Socials</h2>
  <a
    href="https://linktr.ee/farreachco"
    target="_blank"
    rel="noopener noreferrer"
    >https://linktr.ee/farreachco</a
  >
  <br />
  <br />
  <small>Copyright &copy; 2023 Far Reach Co.</small>
</footer>
