<footer>
  <h2>Support</h2>
  <a href="mailto:farreachco@gmail.com">FarReachCo@gmail.com</a>
  <br />
  <h2>Socials</h2>
  <a
    href="https://linktr.ee/farreachco"
    target="_blank"
    rel="noopener noreferrer"
    >https://linktr.ee/farreachco</a
  >
  <br />
  <br />
  <small>
    <a href="/terms-of-use">Terms of Use</a> |
    <a href="/privacy-policy">Privacy Policy</a>
  </small>
  <small>2023 &copy; Far Reach Co.</small>
</footer>
