<footer>
  <h2>Support</h2>
  <a href="mailto:farreachco@gmail.com">FarReachCo@gmail.com</a>
  <br />
  <div style="display: flex; align-items: center; justify-content: center">
    <img
      style="margin-right: var(--main-distance)"
      src="/assets/discord_icon.webp"
      width="30px"
      height="30px"
    />
    <h2>Join our Discord</h2>
  </div>
  <a href="https://discord.gg/Yzw3xZysxe">https://discord.gg/Yzw3xZysxe</a>
  <br />
  <small>Copyright &copy; 2023 Far Reach Co.</small>
</footer>
