<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Far Reach Co. | Attributions</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/lib/MobileNavHandler.js" defer></script>
    <%- include('./partials/icons') %>
  </head>
  <%- include('./partials/google') %>
  <body>
    <%- include('./partials/nav') %>
    <div class="container-fluid p-3">
      <h1>Attributions</h1>
      <br />
      <h2>Wizards of the Coast LLC</h2>
      <p>
        This work includes material taken from the System Reference Document 5.1
        (“SRD 5.1”) by Wizards of the Coast LLC and available at
        <a href="https://dnd.wizards.com/resources/systems-reference-document"
          >https://dnd.wizards.com/resources/systems-reference-document</a
        >. The SRD 5.1 is licensed under the Creative Commons Attribution 4.0
        International License available at
        <a href="https://creativecommons.org/licenses/by/4.0/legalcode"
          >https://creativecommons.org/licenses/by/4.0/legalcode</a
        >.
      </p>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
