<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Far Reach Co. | Dash</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/lib/MobileNavHandler.js" defer></script>
    <%- include('./partials/icons') %>
  </head>
  <style>
    .dash-section {
      padding: var(--main-distance);
      width: 100%;
      height: 300px;
      overflow-y: scroll;
      border-bottom: 1px solid var(--main-gray);
      background-color: var(--blue3);
    }
  </style>
  <body>
    <%- include('./partials/nav') %>
    <div class="dash-section">
      <h1>Character Sheets</h1>
      <div>feafe</div>
      <div>feafe</div>
      <div>feafe</div>
      <div>feafe</div>
      <div>feafe</div>
    </div>
    <div class="dash-section">
      <h1>Tables</h1>
    </div>
    <div class="dash-section">
      <h1>Wyrlds</h1>
    </div>
  </body>
</html>
