<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Far Reach Co. | Forgot</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/lib/MobileNavHandler.js" defer></script>
    <%- include('./partials/icons') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container-fluid p-3">
      <h2>Forgot Password</h2>
      <small>Enter your email so we can send you a reset code</small>
      <form id="request-form" class="auth-container">
        <br />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="name@whatever.com"
          required
        />
        <br />
        <button type="submit">Send</button>
        <br />
        <a href="/login"><small>Return to login</small></a>
      </form>
    </div>
    <%- include('./partials/footer') %>
  </body>
  <script>
    document
      .getElementById("request-form")
      .addEventListener("submit", sendRequest);
    async function sendRequest(e) {
      e.preventDefault();
      const formData = new FormData(e.target);
      const formProps = Object.fromEntries(formData);
      try {
        const res = await fetch(`/api/request_reset_email`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify(formProps),
        });
        const resData = await res.json();
        if (res.status === 200) {
          alert("Password reset email successfully sent");
        } else if (res.status === 400) {
          alert(resData.message);
        } else if (res.status === 403) {
          alert(resData.error.message);
        } else if (res.status === 429) {
          alert(resData.message);
        } else {
          throw resData.error;
        }
      } catch (err) {
        alert("Failed to send");
        console.log(err);
      }
    }
  </script>
</html>
