<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Far Reach Co. | Create Wyrld</title>
    <link rel="stylesheet" href="/style.css" />
    <%- include('./partials/icons') %>
    <script src="/lib/MobileNavHandler.js" defer></script>
    <script src="/lib/htmx.min.js"></script>
    <script src="/components/renderTierLimitWarning.js" type="module"></script>
  </head>
  <%- include('./partials/google') %>
  <body>
    <%- include('./partials/nav') %>
    <div class="container-fluid info-container p-3">
      <h1>Create Wyrld</h1>
      <form hx-post="/api/add_project">
        <fieldset>
          <div class="input-container">
            <label for="title">Title</label>
            <input
              id="title"
              name="title"
              placeholder="Wyrld Title"
              required="true,"
            />
          </div>
          <br />
          <br />
          <button type="submit">Create</button>
        </fieldset>
      </form>
    </div>
    <!-- Toast -->
    <div id="toast-custom"></div>
    <!-- The Modal -->
    <div id="modal-custom" class="modal-custom">
      <!-- Modal content -->
      <div class="modal-custom-container">
        <div id="close-custom-modal" class="close-custom-modal">&times;</div>
        <div id="modal-custom-content" class="modal-custom-content"></div>
      </div>
    </div>
  </body>
  <script>
    // handle htmx:responseError event
    document.body.addEventListener("htmx:responseError", function (event) {
      // event.detail contains details about the htmx request
      var errorText = JSON.parse(event.detail.xhr.responseText).error.message; // get the response text
      if (errorText === "USER_IS_NOT_PRO") {
        renderTierLimitWarning(
          'You have reached the Wyrlds limit for this account. Please subscribe to our "Pro User" package to increase the limit.'
        );
      }
    });
  </script>
</html>
