<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Far Reach Co. | Create Wyrld Table</title>
    <link rel="stylesheet" href="/style.css" />
    <%- include('./partials/icons') %>
    <script src="/lib/MobileNavHandler.js" defer></script>
    <script src="/lib/htmx.min.js"></script>
  </head>
  <%- include('./partials/google') %>
  <body>
    <%- include('./partials/nav') %>
    <div class="container-fluid info-container p-3">
      <h1>Create Wyrld Table</h1>
      <form hx-post="/api/add_table_view_by_project/<%= projectId %>">
        <fieldset>
          <div class="input-container">
            <label for="title">Title</label>
            <input
              id="title"
              name="title"
              placeholder="Table Title"
              required="true,"
            />
          </div>
          <br />
          <br />
          <button type="submit">Create</button>
        </fieldset>
      </form>
    </div>
  </body>
</html>
