<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Far Reach Co. | Aethrend Pre-Release</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/info.css" />
    <script src="/lib/MobileNavHandler.js" defer></script>
    <%- include('./partials/icons') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div
      class="container-fluid w-75 p-3 d-flex flex-column justify-content-center"
    >
      <div class="intro">
        <h1 class="text-center">Aethrend</h1>
        <p class="text-center">
          Here you can find a series of pre-release content for our campaign
          setting "Aethrend". You can keep up with new releases by following one
          our social media accounts. Happy adventuring travelers!
        </p>
      </div>
      <article>
        <h2>Sky Skiff</h2>
        <a href="/assets/resources/aethrend/Sky_Skiff_Grid.jpg"
          ><img src="/assets/resources/aethrend/Sky_Skiff_Grid.jpg" alt=""
        /></a>
        <br />
        <a href="/assets/resources/aethrend/Sky_Skiff_Grid.jpg"
          ><img src="/assets/resources/aethrend/Sky_Skiff_Grid.jpg" alt=""
        /></a>
        <br />
        <a href="/assets/resources/aethrend/Sky_Skiff_Token.png"
          ><img src="/assets/resources/aethrend/Sky_Skiff_Token.png" alt=""
        /></a>
      </article>
      <hr />
      <article>
        <h2>Sky Sailor</h2>
        <a href="/assets/resources/aethrend/Sky_Sailor_Page_1.jpg"
          ><img src="/assets/resources/aethrend/Sky_Sailor_Page_1.jpg" alt=""
        /></a>
        <br />
        <a href="/assets/resources/aethrend/Sky_Sailor_Page_2.jpg"
          ><img src="/assets/resources/aethrend/Sky_Sailor_Page_2.jpg" alt=""
        /></a>
        <br />
        <a href="/assets/resources/aethrend/Sky_Sailor_Page_3.jpg"
          ><img src="/assets/resources/aethrend/Sky_Sailor_Page_3.jpg" alt=""
        /></a>
      </article>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
