<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Far Reach Co. | Aethrend Pre-Release</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/info.css" />
    <script src="/lib/MobileNavHandler.js" defer></script>
    <%- include('./partials/icons') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container-fluid p-3 info-container">
      <div class="intro">
        <h1 class="text-center">Aethrend Pre-Release</h1>
        <p class="text-center">
          Here you can find a series of pre-release content for our campaign
          setting "Aethrend". You can keep up with new releases by following one
          our social media accounts. Happy adventuring travelers!
        </p>
      </div>
      <h2>Contents:</h2>
      <div class="m-3">
        <h3>Maps & Tokens</h3>
        <a class="indent" href="#sky-skiff">Sky Skiff</a>
        <br />
        <h3>Character Backgrounds</h3>
        <a class="indent" href="#sky-sailor">Sky Sailor</a>
        <br />
        <h3>Items</h3>
        <a class="indent" href="#blindfold-of-the-unseen"
          >Blindfold of the Unseen</a
        >
        <br />
        <h3>Monsters</h3>
        <a class="indent" href="#geshling-newborn">Geshling Newborn</a>
        <br />
        <a class="indent" href="#fudduddle">Fudduddle</a>
        <br />
        <a class="indent" href="#aether-dragon">Aether Dragon</a>
        <br />
        <h3>NPCs</h3>
        <a class="indent" href="#twan">T'wan</a>
      </div>
      <hr />
      <article id="sky-skiff">
        <h1>Sky Skiff</h1>
        <a href="/assets/resources/aethrend/Sky_Skiff_Grid.jpg"
          ><img src="/assets/resources/aethrend/Sky_Skiff_Grid.jpg" alt=""
        /></a>
        <br />
        <a href="/assets/resources/aethrend/Sky_Skiff_NoGrid.jpg"
          ><img src="/assets/resources/aethrend/Sky_Skiff_NoGrid.jpg" alt=""
        /></a>
        <br />
        <a href="/assets/resources/aethrend/Sky_Skiff_Token.png"
          ><img src="/assets/resources/aethrend/Sky_Skiff_Token.png" alt=""
        /></a>
      </article>
      <hr />
      <article id="sky-sailor">
        <h1>Sky Sailor</h1>
        <a
          download=""
          href="/assets/resources/aethrend/pdf/Aethrend_Background_SkySailor_v1.pdf"
          >[Download PDF Version]</a
        >
        <br />
        <a
          href="/assets/resources/aethrend/Aethrend_Background_SkySailor_p1_v1.jpeg"
          ><img
            src="/assets/resources/aethrend/Aethrend_Background_SkySailor_p1_v1.jpeg"
            alt=""
        /></a>
        <br />
        <a
          href="/assets/resources/aethrend/Aethrend_Background_SkySailor_p2_v1.jpeg"
          ><img
            src="/assets/resources/aethrend/Aethrend_Background_SkySailor_p2_v1.jpeg"
            alt=""
        /></a>
        <br />
        <a
          href="/assets/resources/aethrend/Aethrend_Background_SkySailor_p3_v1.jpeg"
          ><img
            src="/assets/resources/aethrend/Aethrend_Background_SkySailor_p3_v1.jpeg"
            alt=""
        /></a>
      </article>
      <hr />
      <article id="blindfold-of-the-unseen">
        <h1>Blindfold of the Unseen</h1>
        <a
          download=""
          href="/assets/resources/aethrend/pdf/Aethrend_Item_BlindfoldOfInvisibility_v1.pdf"
          >[Download PDF Version]</a
        >
        <br />
        <a
          href="/assets/resources/aethrend/Aethrend_Item_BlindfoldOfInvisibility_v1.jpeg"
          ><img
            src="/assets/resources/aethrend/Aethrend_Item_BlindfoldOfInvisibility_v1.jpeg"
            alt=""
        /></a>
      </article>
      <hr />
      <article id="geshling-newborn">
        <h1>Geshling Newborn</h1>
        <a
          download=""
          href="/assets/resources/aethrend/pdf/Aethrend_Monstrosity_Geshling_Newborn_v1.pdf"
          >[Download PDF Version]</a
        >
        <br />
        <a
          href="/assets/resources/aethrend/Aethrend_Monstrosity_Geshling_Newborn_v1.jpeg"
          ><img
            src="/assets/resources/aethrend/Aethrend_Monstrosity_Geshling_Newborn_v1.jpeg"
            alt=""
        /></a>
      </article>
      <hr />
      <article id="twan">
        <h1>T'wan</h1>
        <a
          download=""
          href="/assets/resources/aethrend/pdf/Aethrend_NPC_T'wan_v1.pdf"
          >[Download PDF Version]</a
        >
        <br />
        <a href="/assets/resources/aethrend/Aethrend_NPC_T'wan_v1.jpg"
          ><img
            src="/assets/resources/aethrend/Aethrend_NPC_T'wan_v1.jpg"
            alt=""
        /></a>
      </article>
      <hr />
      <article id="fudduddle">
        <h1>Fudduddle</h1>
        <a
          download=""
          href="/assets/resources/aethrend/pdf/Aethrend_Beast_Fudduddle_Re_Leaf_San_v1.pdf"
          >[Download PDF Version]</a
        >
        <br />
        <a
          href="/assets/resources/aethrend/Aethrend_Beast_Fudduddle_Re_Leaf_San_p1_v1.jpeg"
          ><img
            src="/assets/resources/aethrend/Aethrend_Beast_Fudduddle_Re_Leaf_San_p1_v1.jpeg"
            alt=""
        /></a>
        <br />
        <a
          href="/assets/resources/aethrend/Aethrend_Beast_Fudduddle_Re_Leaf_San_p2_v1.jpeg"
          ><img
            src="/assets/resources/aethrend/Aethrend_Beast_Fudduddle_Re_Leaf_San_p2_v1.jpeg"
            alt=""
        /></a>
      </article>
      <hr />
      <article id="aether-dragon">
        <h1>Aether Dragon</h1>
        <a
          download=""
          href="/assets/resources/aethrend/pdf/Aethrend_Dragon_Aether_Young_Adult_v1.pdf"
          >[Download PDF Version]</a
        >
        <br />
        <a
          href="/assets/resources/aethrend/Aethrend_Dragon_Aether_Young_Adult_p1_v1.jpeg"
          ><img
            src="/assets/resources/aethrend/Aethrend_Dragon_Aether_Young_Adult_p1_v1.jpeg"
            alt=""
        /></a>
        <br />
        <a
          href="/assets/resources/aethrend/Aethrend_Dragon_Aether_Young_Adult_p2_v1.jpeg"
          ><img
            src="/assets/resources/aethrend/Aethrend_Dragon_Aether_Young_Adult_p2_v1.jpeg"
            alt=""
        /></a>
        <br />
        <a
          href="/assets/resources/aethrend/Aethrend_Dragon_Aether_Young_Adult_p3_v1.jpeg"
          ><img
            src="/assets/resources/aethrend/Aethrend_Dragon_Aether_Young_Adult_p3_v1.jpeg"
            alt=""
        /></a>
      </article>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
