<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Far Reach Co. | Reset</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/lib/MobileNavHandler.js" defer></script>
    <%- include('./partials/icons') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container-fluid p-3">
      <h2>Reset Password</h2>
      <small>Please enter your new password</small>
      <form id="reset-form" class="auth-container">
        <br />
        <label for="email">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="password"
          required
        />
        <br />
        <button type="submit">Reset</button>
      </form>
    </div>
    <%- include('./partials/footer') %>
  </body>
  <script>
    var searchParams = new URLSearchParams(window.location.search);
    let token = null;
    if (searchParams.get("token")) token = searchParams.get("token");

    document.getElementById("reset-form").addEventListener("submit", reset);
    async function reset(e) {
      e.preventDefault();
      const formData = new FormData(e.target);
      const formProps = Object.fromEntries(formData);
      formProps.token = token;
      try {
        const res = await fetch(
          `${window.location.origin}/api/user/reset_password`,
          {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify(formProps),
          }
        );
        const resData = await res.json();
        if (res.status === 200) {
          alert("Password has been successfully updated!");
          window.location.pathname = "/account";
        } else if (res.status === 400) {
          alert(resData.message);
        } else {
          throw resData.error;
        }
      } catch (err) {
        alert("Failed to reset password");
        console.log(err);
      }
    }
  </script>
</html>
