<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Far Reach Co. | Resources</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/info.css" />
    <script src="/lib/MobileNavHandler.js" defer></script>
    <%- include('./partials/icons') %>
  </head>
  <%- include('./partials/google') %>
  <body>
    <%- include('./partials/nav') %>
    <div class="container-fluid p-3 info-container">
      <div class="intro">
        <h1 class="text-center">Resources</h1>
        <p class="text-center">
          Far Reach Co. offers a variety of content for role-playing games
          beyond our online game-play tooling.
        </p>
      </div>
      <article>
        <div class="inline-div">
          <h2>Aethrend</h2>
          <small>- Campaign Setting</small>
        </div>
        <div class="indent">
          <p>
            We are currently working on a D&D 5e campaign setting and will be
            releasing that for sale here on our site. For now you can find our
            pre-released free content to use in your games.
          </p>
          <a href="/preaethrend">Pre-Release Content</a>
        </div>
      </article>
      <hr />
      <article>
        <div class="inline-div">
          <h2>5e Character Sheets</h2>
          <small>- PDFs</small>
        </div>
        <div class="indent">
          <p>
            Although we provide online character sheets, we also wanted to share
            with you our custom designs. If you like to play with pencil and
            paper, try our version of the 5e character sheet.
          </p>
          <ul>
            <li>
              <a href="/assets/resources/character_sheets/CharSheetPeli_v01.pdf"
                >Color PDF with our mascot Peli</a
              >
            </li>
            <li>
              <a
                href="/assets/resources/character_sheets/CharSheetNOPeli_v02.pdf"
                >Color PDF without Peli</a
              >
            </li>
            <li>
              <a
                href="/assets/resources/character_sheets/CharSheetNOPeliNOBkgd_v03.pdf"
                >No color no Background PDF without Peli</a
              >
            </li>
          </ul>
        </div>
      </article>
      <hr />
      <article>
        <div class="inline-div">
          <h2>Dungeons & Dragons Fifth Edition SRD</h2>
          <small>- V5.1</small>
        </div>
        <div class="indent">
          <p>
            We currently provide an online utility to engage with the content
            from Dungeons & Dragons System Reference Document. This resource is
            design to be used as a quick reference guide, not an exhaustive
            reproduction of the original.
          </p>
          <a href="/dnd/5e/srd/contents">Table of Contents</a>
        </div>
      </article>
      <hr />
      <article>
        <div class="inline-div">
          <h2>Aether Discord Bot</h2>
          <small>- FRC Official Discord Bot</small>
        </div>
        <div class="indent">
          <p>
            This bot is designed to integrate with the FRC character sheet
            system. It provides an interface to register your sheets and view
            different resources from those sheets within a discord channel. We
            intend to include more functionality to allow users to update
            specific resources as needed, please stay up to date by joining us
            on discord.
          </p>
          <a href="/aether-bot">Aether Bot Documentation</a>
        </div>
      </article>
      <hr />
      <article>
        <h2>5e Discord Bot</h2>
        <div class="indent">
          <p>
            We have developed a discord bot specifically for helping run smooth
            D&D games on discord. You can use the bot to roll dice, search for
            Official D&D 5e resources from the SRD, and handle inititative
            tracking!
          </p>
          <a href="https://5ebot.com">5e-Bot Documentation</a>
        </div>
      </article>
      <hr />
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
