<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Far Reach Co. | Terms of Use</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/lib/MobileNavHandler.js" defer></script>
    <%- include('./partials/icons') %>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container-fluid p-3">
      <h1>Terms of Use</h1>
      <p class="c13 c20"><span class="c11 c21"></span></p>
      <p class="c3">
        <span class="c7"
          >These terms of use are entered into by and between You, the User, and
          FAR REACH CO. </span
        ><span class="c11">(&quot;Company,&quot; &quot;we,&quot;</span
        ><span class="c7">&nbsp;or </span><span class="c11">&quot;us&quot;</span
        ><span class="c7"
          >). The following terms and conditions, together with any documents
          they expressly incorporate by reference (collectively, the </span
        ><span class="c11">&quot;Terms of Use&quot;</span
        ><span class="c7"
          >), shall govern your access to and use of https://farreachco.com,
          including any content, functionality, and services offered on or
          through https://farreachco.com (the </span
        ><span class="c11">&quot;Website&quot;</span
        ><span class="c0">), whether as a guest or as a registered user.</span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >Please read the Terms of Use carefully before you start to use the
          Website.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c17"
          >SIMPLY BY ACCESSING OR USING THE WEBSITE, YOU ACCEPT AND AGREE TO BE
          BOUND AND ABIDE BY THESE TERMS OF USE AND OUR PRIVACY POLICY, FOUND AT </span
        ><span class="c17">HTTPS://FARREACHCO.COM/PRIVACY-POLICY</span
        ><span class="c19 c17"
          >&nbsp;AND WHICH IS FURTHERMORE INCORPORATED HEREIN BY REFERENCE.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c19 c11"
          >IF YOU DO NOT WANT TO AGREE TO THESE TERMS OF USE OR THE PRIVACY
          POLICY, THEN YOU MUST NOT ACCESS OR USE THE WEBSITE.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >This Website is offered and available ONLY to users who are 18 years
          of age or older or are otherwise permitted by their legal guardian to
          view this Website. By using this Website, you represent and warrant
          that you meet these conditions. Any sales and purchases of goods,
          contracts for the sale and purchase of goods, and/or all other
          agreements to enter into a legally binding contract or agreement with
          the Company which are facilitated and entered into by use of this
          Website are available ONLY to those who are of legal age and proper
          capacity to form a binding contract with the Company and meet all of
          the foregoing eligibility requirements.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c19 c11"
          >IF YOU DO NOT MEET ALL OF THESE REQUIREMENTS, YOU MUST NOT ACCESS OR
          USE THE WEBSITE.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0 start" start="1">
        <li class="c3 c5">
          <span class="c9">CHANGES TO THE TERMS OF USE</span>
        </li>
      </ol>
      <p class="c1"><span class="c19 c11"></span></p>
      <p class="c3">
        <span class="c0"
          >We may revise and update these Terms of Use from time to time in our
          sole discretion. All changes are effective immediately when we post
          them, and apply to all access to and use of the Website thereafter.
          However, any changes to the dispute resolution provisions set out in
          Governing Law and Jurisdiction will not apply to any disputes for
          which the parties have actual notice before the date the change is
          posted on the Website.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >Your continued use of the Website following the posting of revised
          Terms of Use means that you accept and agree to the changes. You are
          expected to check this page frequently so that you are aware of any
          changes, as they are binding on you.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="2">
        <li class="c3 c5">
          <span class="c4">ACCESSING THE WEBSITE AND ACCOUNT SECURITY</span>
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >We reserve the right to withdraw or amend this Website, and any
          service or material we provide on the Website, in our sole discretion
          without notice. We will not be liable if for any reason all or any
          part of the Website is unavailable at any time or for any period. From
          time to time, we may restrict access to some parts of the Website, or
          the entire Website, to users, including registered users.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3"><span class="c0">You are responsible for:</span></p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_6poniqipkbis-0 start" start="1">
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Making all arrangements necessary for you to have access to the
            Website.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Ensuring that all persons who access the Website through your
            internet connection are aware of these Terms of Use and comply with
            them.</span
          >
        </li>
      </ol>
      <p class="c1 c15"><span class="c0"></span></p>
      <p class="c3">
        <span class="c7"
          >To access the Website or some of the resources it offers, you may be
          asked to provide certain registration details or other information. It
          is a condition of your use of the Website that all the information you
          provide on the Website is correct, current, and complete. You agree
          that all information you provide to register with this Website or
          otherwise, including, but not limited to, through the use of any
          interactive features on the Website, is governed by our Privacy Policy </span
        ><span class="c7">(https://farreachco.com/privacy-policy)</span
        ><span class="c0"
          >, and you consent to all actions we take with respect to your
          information consistent with our Privacy Policy.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >If you choose, or are provided with, a username, password, or any
          other piece of information as part of our security procedures, you
          must treat such information as confidential, and you must not disclose
          it to any other person or entity. You also acknowledge that your
          account is personal to you and agree not to provide any other person
          with access to this Website or portions of it using your username,
          password, or other security information. You agree to notify us
          immediately of any unauthorized access to or use of your username or
          password or any other breach of security. You should use particular
          caution when accessing your account from a public or shared computer
          so that others are not able to view or record your password or other
          personal information.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >We have the right to disable any username, password, or other
          identifier, whether chosen by you or provided by us, at any time, in
          our sole discretion, and for any or no reason, including, without
          limitation, the case in which, in our opinion, you have violated any
          provision of these Terms of Use.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="3">
        <li class="c3 c5">
          <span class="c4">INTELLECTUAL PROPERTY RIGHTS</span>
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >The Website and its entire contents, features, and functionality
          (including but not limited to all information, software, text,
          displays, images, video, and audio, and the design, selection, and
          arrangement thereof) are owned by the Company, its licensors, or other
          providers of such material and are protected by United States and
          international copyright, trademark, patent, trade secret, and other
          intellectual property or proprietary rights laws.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >These Terms of Use permit you to use the Website for your personal,
          non-commercial use only. You must not reproduce, distribute, modify,
          create derivative works of, publicly display, publicly perform,
          republish, download, store, or transmit any of the material on our
          Website, except as follows:</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_9s1um5ts8ff9-0 start" start="1">
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Your computer may temporarily store copies of such materials in RAM
            incidental to your accessing and viewing those materials.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >You may store files that are automatically cached by your Web
            browser for display enhancement purposes.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >You may print or download one copy of a reasonable number of pages
            of the Website for your own personal, non-commercial use and not for
            further reproduction, publication, or distribution.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >If we provide desktop, mobile, or other applications for download,
            you may download a single copy to your computer or mobile device
            solely for your own personal, non-commercial use, provided you agree
            to be bound by our end user license agreement for such
            applications.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >If we provide Social Media Features (as described herein) with
            certain content, you may take such actions as are enabled by such
            features.</span
          >
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3"><span class="c0">You must not:</span></p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_3eewjpdjwhpo-0 start" start="1">
        <li class="c2 li-bullet-0">
          <span class="c0">Modify copies of any materials from this site.</span>
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Use any illustrations, photographs, video or audio sequences, or
            any graphics separately from the accompanying text.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Delete or alter any copyright, trademark, or other proprietary
            rights notices from copies of materials from this site.</span
          >
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >UNLESS OTHERWISE PROVIDED FOR IN WRITING, you must not access or use
          for any commercial purposes any part of the Website or any services or
          materials available through the Website.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >If you print, copy, modify, download, or otherwise use or provide any
          other person with access to any part of the Website in breach of the
          Terms of Use, your right to use the Website will stop immediately and
          you must, at our option, return or destroy any copies of the materials
          you have made. No right, title, or interest in or to the Website or
          any content on the Website is transferred to you, and all rights not
          expressly granted are reserved by the Company.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >Any use of the Website not expressly permitted by these Terms of Use
          is a breach of these Terms of Use and may violate copyright,
          trademark, and other laws.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="4">
        <li class="c3 c5"><span class="c4">TRADEMARKS</span></li>
      </ol>
      <p class="c1 c16"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >The Company name, the Company logo, and all related names, logos,
          product and service names, designs, and slogans are trademarks of the
          Company or its affiliates or licensors. You must not use such marks
          without the prior written permission of the Company. All other names,
          logos, product and service names, designs, and slogans on this Website
          are the trademarks of their respective owners.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="5">
        <li class="c3 c5"><span class="c4">PROHIBITED USES</span></li>
      </ol>
      <p class="c1"><span class="c17 c19"></span></p>
      <p class="c3">
        <span class="c0"
          >You may use the Website only for lawful purposes and in accordance
          with these Terms of Use. You agree not to use the Website:</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_x4wvh6rxz1vp-0 start" start="1">
        <li class="c2 li-bullet-0">
          <span class="c0"
            >In any way that violates any applicable federal, state, local, or
            international law or regulation (including, without limitation, any
            laws regarding the export of data or software to and from the US or
            other countries).
          </span>
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >For the purpose of exploiting, harming, or attempting to exploit or
            harm minors in any way by exposing them to inappropriate content,
            asking for personally identifiable information, or otherwise.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >To send, knowingly receive, upload, download, use, or re-use any
            material that does not comply with the Content Standards set out in
            these Terms of Use.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >To transmit, or procure the sending of, any advertising or
            promotional material, including any &quot;junk mail,&quot;
            &quot;chain letter,&quot; &quot;spam,&quot; or any other similar
            solicitation.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >To impersonate or attempt to impersonate the Company, a Company
            employee, another user, or any other person or entity (including,
            without limitation, by using email addresses, screen names, handles,
            or any other account name associated with any of the
            foregoing).</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >To engage in any other conduct that restricts or inhibits
            anyone&#39;s use or enjoyment of the Website, or which, as
            determined by us, may harm the Company or users of the Website, or
            expose them to liability.</span
          >
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3"><span class="c0">Additionally, you agree not to:</span></p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_y1y3vj5k96a8-0 start" start="1">
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Use the Website in any manner that could disable, overburden,
            damage, or impair the site or interfere with any other party&#39;s
            use of the Website, including their ability to engage in real time
            activities through the Website.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Use any robot, spider, or other automatic device, process, or means
            to access the Website for any purpose, including monitoring or
            copying any of the material on the Website.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Use any manual process to monitor or copy any of the material on
            the Website, or for any other purpose not expressly authorized in
            these Terms of Use, without our prior written consent.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Use any device, software, or routine that interferes with the
            proper working of the Website.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Introduce any viruses, Trojan horses, worms, logic bombs, or other
            material that is malicious or technologically harmful.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Attempt to gain unauthorized access to, interfere with, damage, or
            disrupt any parts of the Website, the server on which the Website is
            stored, or any server, computer, or database connected to the
            Website.
          </span>
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Attack the Website via a denial-of-service attack or a distributed
            denial-of-service attack.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Otherwise attempt to interfere with the proper working of the
            Website.</span
          >
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="6">
        <li class="c3 c5"><span class="c4">USER CONTRIBUTIONS</span></li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c7"
          >The Website may contain message boards, chat rooms, personal web
          pages or profiles, forums, bulletin boards, user accounts,
          marketplaces, and other interactive features (collectively, </span
        ><span class="c11">&quot;Interactive Services&quot;</span
        ><span class="c7"
          >) that allow users to post, submit, publish, display, or transmit to
          other users or other persons (hereinafter, &quot;post&quot;) content
          or materials (collectively, </span
        ><span class="c11">&quot;User Contributions&quot;</span
        ><span class="c0">) on or through the Website.</span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >All User Contributions must comply with the Content Standards set out
          in these Terms of Use.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >UNLESS OTHERWISE SPECIFIED IN WRITING, any User Contribution you post
          to the site will be considered non-confidential and non-proprietary.
          By providing any User Contribution on the Website, you grant us and
          our affiliates and service providers, and each of their and our
          respective licensees, successors, and assigns the right to use,
          reproduce, modify, perform, display, distribute, and otherwise
          disclose to third parties any such material for any purpose.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3"><span class="c0">You represent and warrant that: </span></p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_vq3oxgwu1uec-0 start" start="1">
        <li class="c2 li-bullet-0">
          <span class="c0"
            >You own or control all rights in and to the User Contributions and
            have the right to grant the license granted above to us and our
            affiliates and service providers, and each of their and our
            respective licensees, successors, and assigns.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >All of your User Contributions do and will comply with these Terms
            of Use.
          </span>
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >You understand and acknowledge that you are responsible for any User
          Contributions you submit or contribute, and you, not the Company, have
          full responsibility for such content, including its legality,
          reliability, accuracy, and appropriateness.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >We are not responsible or liable to any third party for the content
          or accuracy of any User Contributions posted by you or any other user
          of the Website.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="7">
        <li class="c3 c25 li-bullet-1">
          <span class="c9">MONITORING AND ENFORCEMENT; TERMINATION</span>
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3"><span class="c0">We have the right to:</span></p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_jy7tqiu8smnx-0 start" start="1">
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Remove or refuse to post any User Contributions for any or no
            reason in our sole discretion.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Take any action with respect to any User Contribution that we deem
            necessary or appropriate in our sole discretion, including if we
            believe that such User Contribution violates the Terms of Use,
            including the Content Standards, infringes any intellectual property
            right or other right of any person or entity, threatens the personal
            safety of users of the Website or the public, or could create
            liability for the Company.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Disclose your identity or other information about you to any third
            party who claims that material posted by you violates their rights,
            including their intellectual property rights or their right to
            privacy.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Take appropriate legal action, including without limitation,
            referral to law enforcement, for any illegal or unauthorized use of
            the Website.
          </span>
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Terminate or suspend your access to all or part of the Website for
            any or no reason, including without limitation, any violation of
            these Terms of Use.</span
          >
        </li>
      </ol>
      <p class="c1 c15"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >Without limiting the foregoing, we have the right to cooperate fully
          with any law enforcement authorities or court order requesting or
          directing us to disclose the identity or other information of anyone
          posting any materials on or through the Website. YOU WAIVE AND HOLD
          HARMLESS THE COMPANY AND ITS AFFILIATES, LICENSEES, AND SERVICE
          PROVIDERS FROM ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY OF THE
          FOREGOING PARTIES DURING, OR TAKEN AS A CONSEQUENCE OF, INVESTIGATIONS
          BY EITHER SUCH PARTIES OR LAW ENFORCEMENT AUTHORITIES.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >However, we do not undertake to review material before it is posted
          on the Website, and cannot ensure prompt removal of objectionable
          material after it has been posted. Accordingly, we assume no liability
          for any action or inaction regarding transmissions, communications, or
          content provided by any user or third party. We have no liability or
          responsibility to anyone for performance or nonperformance of the
          activities described in this section.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="8">
        <li class="c3 c5"><span class="c4">CONTENT STANDARDS</span></li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >These content standards apply to any and all User Contributions and
          use of Interactive Services. User Contributions must in their entirety
          comply with all applicable federal, state, local, and international
          laws and regulations. Without limiting the foregoing, User
          Contributions must not:</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_6m5m7rkuplra-0 start" start="1">
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Contain any material that is defamatory, obscene, indecent,
            abusive, offensive, harassing, violent, hateful, inflammatory, or
            otherwise objectionable.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Promote sexually explicit or pornographic material, violence, or
            discrimination based on race, sex, religion, nationality,
            disability, sexual orientation, or age.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Infringe any patent, trademark, trade secret, copyright, or other
            intellectual property or other rights of any other person.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Violate the legal rights (including the rights of publicity and
            privacy) of others or contain any material that could give rise to
            any civil or criminal liability under applicable laws or regulations
            or that otherwise may be in conflict with these Terms of Use and our
            Privacy Policy.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0">Be likely to deceive any person.</span>
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Promote any illegal activity, or advocate, promote, or assist any
            unlawful act.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Cause annoyance, inconvenience, or needless anxiety or be likely to
            upset, embarrass, alarm, or annoy any other person.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Impersonate any person, or misrepresent your identity or
            affiliation with any person or organization.
          </span>
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Involve commercial activities or sales, such as contests,
            sweepstakes, and other sales promotions, barter, or
            advertising.</span
          >
        </li>
        <li class="c2 li-bullet-0">
          <span class="c0"
            >Give the impression that they emanate from or are endorsed by us or
            any other person or entity, if this is not the case.</span
          >
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="9">
        <li class="c3 c5"><span class="c4">COPYRIGHT INFRINGEMENT</span></li>
      </ol>
      <p class="c3">
        <span class="c0"
          >If you believe that any User Contributions violate your copyright,
          please see our Copyright Policy for instructions on sending us a
          notice of copyright infringement. It is the policy of the Company to
          terminate the user accounts of repeat infringers.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="10">
        <li class="c3 c5">
          <span class="c4">RELIANCE ON INFORMATION POSTED</span>
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >The information presented on or through the Website is made available
          solely for general information purposes. We do not warrant the
          accuracy, completeness, or usefulness of this information. Any
          reliance you place on such information is strictly at your own risk.
          We disclaim all liability and responsibility arising from any reliance
          placed on such materials by you or any other visitor to the Website,
          or by anyone who may be informed of any of its contents.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >This Website may include content provided by third parties, including
          materials provided by other users, bloggers, and third-party
          licensors, syndicators, aggregators, and/or reporting services. All
          statements and/or opinions expressed in these materials, and all
          articles and responses to questions and other content, other than the
          content provided by the Company, are solely the opinions and the
          responsibility of the person or entity providing those materials.
          These materials do not necessarily reflect the opinion of the Company.
          We are not responsible, or liable to you or any third party, for the
          content or accuracy of any materials provided by any third
          parties.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="11">
        <li class="c3 c5"><span class="c4">CHANGES TO THE WEBSITE</span></li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >We may update the content on this Website from time to time, but its
          content is not necessarily complete or up-to-date. Any of the material
          on the Website may be out of date at any given time, and we are under
          no obligation to update such material.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="12">
        <li class="c3 c5">
          <span class="c4"
            >INFORMATION ABOUT YOU AND YOUR VISITS TO THE WEBSITE</span
          >
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >All information we collect on this Website is subject to our Privacy
          Policy. By using the Website, you consent to all actions taken by us
          with respect to your information in compliance with the Privacy
          Policy.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="13">
        <li class="c3 c5">
          <span class="c4"
            >LINKING TO THE WEBSITE AND SOCIAL MEDIA FEATURES</span
          >
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >You may link to our homepage, provided you do so in a way that is
          fair and legal and does not damage our reputation or take advantage of
          it, but you must not establish a link in such a way as to suggest any
          form of association, approval, or endorsement on our part without our
          express written consent.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >This Website may provide certain social media features that enable
          you to:</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_8k2vd5oqyhpb-0 start" start="1">
        <li class="c3 c8 li-bullet-2">
          <span class="c0"
            >Link from your own or certain third-party websites to certain
            content on this Website.</span
          >
        </li>
        <li class="c3 c8 li-bullet-3">
          <span class="c0"
            >Send emails or other communications with certain content, or links
            to certain content, on this Website.</span
          >
        </li>
        <li class="c3 c8 li-bullet-3">
          <span class="c0"
            >Cause limited portions of content on this Website to be displayed
            or appear to be displayed on your own or certain third-party
            websites.</span
          >
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >You may use these features solely as they are provided by us, and
          solely with respect to the content they are displayed with, and
          otherwise in accordance with any additional terms and conditions we
          provide with respect to such features. Subject to the foregoing, you
          must not:</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_m0pmu48wpca2-0 start" start="1">
        <li class="c3 c8 li-bullet-4">
          <span class="c0"
            >Establish a link from any website that is not owned by you.</span
          >
        </li>
        <li class="c3 c8 li-bullet-4">
          <span class="c0"
            >Cause the Website or portions of it to be displayed on, or appear
            to be displayed by, any other site, for example, framing, deep
            linking, or in-line linking.</span
          >
        </li>
        <li class="c3 c8 li-bullet-4">
          <span class="c0"
            >Link to any part of the Website other than the homepage.</span
          >
        </li>
        <li class="c3 c8 li-bullet-4">
          <span class="c0"
            >Otherwise take any action with respect to the materials on this
            Website that is inconsistent with any other provision of these Terms
            of Use.</span
          >
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >The website from which you are linking, or on which you make certain
          content accessible, must comply in all respects with the Content
          Standards set out in these Terms of Use.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >You agree to cooperate with us in causing any unauthorized framing or
          linking immediately to stop. We reserve the right to withdraw linking
          permission without notice.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >We may disable all or any social media features and any links at any
          time without notice in our discretion.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="14">
        <li class="c3 c5"><span class="c4">LINKS FROM THE WEBSITE</span></li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >If the Website contains links to other sites and resources provided
          by third parties, these links are provided for your convenience only.
          This includes links contained in advertisements, including banner
          advertisements and sponsored links. We have no control over the
          contents of those sites or resources, and accept no responsibility for
          them or for any loss or damage that may arise from your use of them.
          If you decide to access any of the third-party websites linked to this
          Website, you do so entirely at your own risk and subject to the terms
          and conditions of use for such websites.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="15">
        <li class="c3 c5"><span class="c4">GEOGRAPHIC RESTRICTIONS</span></li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >The owner of the Website is based in the State of Florida in the
          United States. We provide this Website for use only by persons located
          in the United States. We make no claims that the Website or any of its
          content is accessible or appropriate outside of the United States.
          Access to the Website may not be legal by certain persons or in
          certain countries. If you access the Website from outside the United
          States, you do so on your own initiative and are responsible for
          compliance with local laws.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="16">
        <li class="c3 c5"><span class="c14">DISCLAIMER OF WARRANTIES</span></li>
      </ol>
      <p class="c1"><span class="c19 c17"></span></p>
      <p class="c3">
        <span class="c0"
          >You understand that we cannot and do not guarantee or warrant that
          any files available for downloading from the internet or the Website
          will be free of viruses or other destructive code. You are responsible
          for implementing sufficient procedures and checkpoints to satisfy your
          particular requirements for anti-virus protection and accuracy of data
          input and output, and for maintaining a means external to our site for
          any reconstruction of any lost data.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >TO THE FULLEST EXTENT PROVIDED BY LAW, WE WILL NOT BE LIABLE FOR ANY
          LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK,
          VIRUSES, OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT
          YOUR COMPUTER EQUIPMENT, COMPUTER PROGRAMS, DATA, OR OTHER PROPRIETARY
          MATERIAL DUE TO YOUR USE OF THE WEBSITE OR ANY SERVICES OR ITEMS
          OBTAINED THROUGH THE WEBSITE OR TO YOUR DOWNLOADING OF ANY MATERIAL
          POSTED ON IT, OR ON ANY WEBSITE LINKED TO IT.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >YOUR USE OF THE WEBSITE, ITS CONTENT, AND ANY SERVICES OR ITEMS
          OBTAINED THROUGH THE WEBSITE IS AT YOUR OWN RISK. THE WEBSITE, ITS
          CONTENT, AND ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE ARE
          PROVIDED ON AN &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot; BASIS,
          WITHOUT ANY WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED. NEITHER
          THE COMPANY NOR ANY PERSON ASSOCIATED WITH THE COMPANY MAKES ANY
          WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY,
          RELIABILITY, QUALITY, ACCURACY, OR AVAILABILITY OF THE WEBSITE.
          WITHOUT LIMITING THE FOREGOING, NEITHER THE COMPANY NOR ANYONE
          ASSOCIATED WITH THE COMPANY REPRESENTS OR WARRANTS THAT THE WEBSITE,
          ITS CONTENT, OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE
          WILL BE ACCURATE, RELIABLE, ERROR-FREE, OR UNINTERRUPTED, THAT DEFECTS
          WILL BE CORRECTED, THAT OUR SITE OR THE SERVER THAT MAKES IT AVAILABLE
          ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, OR THAT THE WEBSITE
          OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE WILL OTHERWISE
          MEET YOUR NEEDS OR EXPECTATIONS.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >TO THE FULLEST EXTENT PROVIDED BY LAW, THE COMPANY HEREBY DISCLAIMS
          ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY, OR
          OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF
          MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR PARTICULAR
          PURPOSE.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >THE FOREGOING DOES NOT AFFECT ANY WARRANTIES THAT CANNOT BE EXCLUDED
          OR LIMITED UNDER APPLICABLE LAW.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="17">
        <li class="c3 c5"><span class="c4">LIMITATION ON LIABILITY</span></li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >TO THE FULLEST EXTENT PROVIDED BY LAW, IN NO EVENT WILL THE COMPANY,
          ITS AFFILIATES, OR THEIR LICENSORS, SERVICE PROVIDERS, EMPLOYEES,
          AGENTS, OFFICERS, OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND,
          UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE,
          OR INABILITY TO USE, THE WEBSITE, ANY WEBSITES LINKED TO IT, ANY
          CONTENT ON THE WEBSITE OR SUCH OTHER WEBSITES, INCLUDING ANY DIRECT,
          INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES,
          INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING,
          EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS
          OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA,
          AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT,
          OR OTHERWISE, EVEN IF FORESEEABLE.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >THE FOREGOING DOES NOT AFFECT ANY LIABILITY THAT CANNOT BE EXCLUDED
          OR LIMITED UNDER APPLICABLE LAW.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="18">
        <li class="c3 c5"><span class="c4">INDEMNIFICATION</span></li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >You agree to defend, indemnify, and hold harmless the Company, its
          affiliates, licensors, and service providers, and its and their
          respective officers, directors, employees, contractors, agents,
          licensors, suppliers, successors, and assigns from and against any
          claims, liabilities, damages, judgments, awards, losses, costs,
          expenses, or fees (including reasonable attorneys&#39; fees) arising
          out of or relating to your violation of these Terms of Use or your use
          of the Website, including, but not limited to, your User
          Contributions, any use of the Website&#39;s content, services, and
          products other than as expressly authorized in these Terms of Use, or
          your use of any information obtained from the Website.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="19">
        <li class="c3 c5">
          <span class="c4">GOVERNING LAW AND JURISDICTION</span>
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >All matters relating to the Website and these Terms of Use, and any
          dispute or claim arising therefrom or related thereto (in each case,
          including non-contractual disputes or claims), shall be governed by
          and construed in accordance with the internal laws of the State of
          Florida giving effect to any choice or conflict of law provision or
          rule (whether of the State of Florida or any other
          jurisdiction).</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >Any legal suit, action, or proceeding arising out of, or related to,
          these Terms of Use or the Website shall be instituted exclusively in
          the federal courts of the United States or the courts of the State of
          Florida, although we retain the right to bring any suit, action, or
          proceeding against you for breach of these Terms of Use in your
          country of residence or any other relevant country. You waive any and
          all objections to the exercise of jurisdiction over you by such courts
          and to venue in such courts.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="20">
        <li class="c3 c5"><span class="c4">ARBITRATION</span></li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >At Company&#39;s sole discretion, it may require You to submit any
          disputes arising from these Terms of Use or use of the Website,
          including disputes arising from or concerning their interpretation,
          violation, invalidity, non-performance, or termination, to final and
          binding arbitration under the Rules of Arbitration of the American
          Arbitration Association applying Florida law.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="21">
        <li class="c3 c5">
          <span class="c4">LIMITATION ON TIME TO FILE CLAIMS</span>
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR RELATING
          TO THESE TERMS OF USE OR THE WEBSITE MUST BE COMMENCED WITHIN ONE (1)
          YEAR AFTER THE CAUSE OF ACTION ACCRUES; OTHERWISE, SUCH CAUSE OF
          ACTION OR CLAIM IS PERMANENTLY BARRED.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="22">
        <li class="c3 c5"><span class="c4">WAIVER AND SEVERABILITY</span></li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >No waiver by the Company of any term or condition set out in these
          Terms of Use shall be deemed a further or continuing waiver of such
          term or condition or a waiver of any other term or condition, and any
          failure of the Company to assert a right or provision under these
          Terms of Use shall not constitute a waiver of such right or
          provision.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >If any provision of these Terms of Use is held by a court or other
          tribunal of competent jurisdiction to be invalid, illegal, or
          unenforceable for any reason, such provision shall be eliminated or
          limited to the minimum extent such that the remaining provisions of
          the Terms of Use will continue in full force and effect.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="23">
        <li class="c3 c5"><span class="c4">ENTIRE AGREEMENT</span></li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >The Terms of Use and our Privacy Policy constitute the sole and
          entire agreement between you and FAR REACH CO. regarding the Website
          and supersede all prior and contemporaneous understandings,
          agreements, representations, and warranties, both written and oral,
          regarding the Website.
        </span>
      </p>
      <p class="c1"><span class="c0"></span></p>
      <ol class="c6 lst-kix_252ef7v4aphw-0" start="24">
        <li class="c3 c5">
          <span class="c4">YOUR COMMENTS AND CONCERNS</span>
        </li>
      </ol>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c7"
          >This website is operated by FAR REACH CO. LLC, 7901 4</span
        ><span class="c7 c18">th</span
        ><span class="c0"
          >&nbsp;St. N, Ste. 300, St. Petersburg, FL, United States,
          33702.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c7"
          >All notices of copyright infringement claims should be sent to the
          copyright agent designated in our Copyright Policy in the manner and
          by the means set out therein.</span
        >
      </p>
      <p class="c1"><span class="c0"></span></p>
      <p class="c3">
        <span class="c0"
          >All other feedback, comments, requests for technical support, and
          other communications relating to the Website should be directed to:
          farreachco@gmail.com</span
        >
      </p>
      <p class="c20 c23"><span class="c19 c22"></span></p>
    </div>
    <%- include('./partials/footer') %>
  </body>
</html>
