/* ==========================================================================
   Icon Styles
   ========================================================================== */

.icon {
  width: 25px;
  height: 25px;
}

.small-icon {
  width: 18px;
  height: 18px;
}

.gear:hover {
  opacity: 0.7;
}
