.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

.indent {
  margin-left: 20px;
}

.pindent {
  text-indent: 20px;
}

.inline-div {
  margin-bottom: var(--main-distance);
}

.center-div {
  text-align: center;
}

.inline-div h1,
.inline-div h2,
.inline-div h3,
.inline-div h4,
.inline-div a,
.inline-div div,
.inline-div u,
.inline-div b,
.inline-div p {
  display: inline;
}

table {
  width: 800px;
  max-width: 100%;
  border-collapse: collapse;
  font-size: small;
  margin-bottom: 15px;
}

th,
td {
  border: 1px solid var(--light-gray);
  padding: 3px;
}

th {
  background-color: var(--blue5);
}

/* Alternate row colors */
tr:nth-child(even) {
  background-color: var(--blue3);
}

tr:nth-child(odd) {
  background-color: var(--blue5);
}