.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  width: 75%;
  max-width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}