.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  width: 800px;
  max-width: 100%;
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

.indent {
  margin-left: 20px;
}



.inline-div h1,
.inline-div h2,
.inline-div h3,
.inline-div h4,
.inline-div a,
.inline-div p {
  display: inline-block;
}