/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap'); */

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Blanka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/blanka/Blanka-Regular.otf') format('woff2');
}

:root {
  --main-white: rgb(227, 227, 227);
  --main-dark: rgb(21, 21, 21);
  --main-gray: rgb(103, 101, 101);
  --light-gray: rgb(174, 173, 173);
  --blue: rgb(59, 82, 113);
  --blue2: rgb(107, 131, 154);
  --blue3: rgb(41, 47, 58);
  --blue4: rgb(42, 58, 82);
  --link-blue: rgb(164, 216, 249);
  --purple: rgb(36, 35, 59);
  --pink: rgb(220, 175, 201);
  --green: rgb(173, 215, 89);
  --green2: rgb(96, 142, 3);
  --orange: rgb(147, 69, 0);
  --orange2: rgb(230, 149, 83);
  --orange3: rgb(216, 193, 157);
  --red1: rgb(225, 75, 75);
  --red2: rgb(120, 46, 46);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: var(--main-white);
  z-index: 2;
}

body {
  height: 100vh;
  background-color: var(--main-dark);
  display: flex;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  font-family: 'IBM Plex Sans', sans-serif;
  text-shadow: 0.5px 0.5px black;
}

small {
  font-size: 12px;
  color: var(--light-gray);
}

br {
  display: block;
  content: "";
  margin-top: 10px;
}

hr {
  /* border: 0; */
  border: 0.5px solid var(--main-gray);
  height: 1px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.special-hr {
  border: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), var(--main-gray), rgba(255, 255, 255, 0));
  margin-top: 5px;
  margin-bottom: 30px;
}

h1 {
  font-size: 1.2rem;
  letter-spacing: 2px;
  display: inline-block;
}

h2 {
  color: var(--orange3);
  font-size: 1.1rem;
}

nav {
  padding-left: 10px;
  padding-right: 10px;
  /* height: 35px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
  border-bottom: 0.5px solid var(--main-gray);
  font-weight: bold;
}

.title-anchor {
  margin-left: 5px;
  letter-spacing: 3px;
  font-family: 'Blanka';
  color: var(--link-blue);
}

.top-nav-btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-left: 0.5px solid var(--main-gray);
  border-right: 0.5px solid var(--main-gray);
}

.top-nav-btn {
  transition: .5s;
}

.top-nav-btn:hover {
  color: var(--green);
  margin-left: 5px;
  margin-right: 5px;
}

a {
  color: var(--link-blue);
  cursor: pointer;
  text-decoration: none;
}

a small {
  color: inherit;
}

a:hover {
  color: var(--green)
}

button {
  width: fit-content;
  background: linear-gradient(var(--blue2) 10%, var(--blue) 90%);
  color: inherit;
  border: 0.1px solid var(--main-gray);
  border-radius: var(--border-radius);
  padding: 2px 4px;
  font: inherit;
  color: var(--main-white);
  font-size: 18px;
  text-shadow: inherit;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(var(--green) 10%, var(--green2) 90%);
}

.btn-red {
  background: linear-gradient(var(--red1) 10%, var(--red2) 90%);
}

.btn-red:hover {
  background: linear-gradient(var(--orange2) 10%, var(--orange) 90%);
}

.back-button {
  margin-top: -10px;
  margin-left: -20px;
  padding: 5px;
  /* border-bottom: 0.1px solid var(--light-gray); */
  width: fit-content;
}

form {
  background-color: var(--blue3);
  padding: 18px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 0.5px solid var(--main-gray);
}

input {
  border: none;
  outline: none;
  background-color: rgb(187, 184, 184);
  height: 30px;
  display: inline-block;
  padding-left: 5px;
  font-size: inherit;
  font-family: inherit;
  color: black;
  border: 0.5px solid var(--main-gray);
}

input[type=number] {
  width: 100px
}

.form-item input {
  margin-bottom: 10px;
}

select {
  width: fit-content;
  margin: 0;
  outline: 0;
  background: linear-gradient(var(--blue2) 10%, var(--blue) 90%);
  border: 0.5px solid var(--main-gray);
  border-radius: var(--border-radius);
  padding: 2px 4px;
  font: inherit;
  color: var(--main-white);
  font-size: 18px;
  text-shadow: inherit;
  cursor: pointer;
}

textarea {
  border: none;
  outline: none;
  background-color: rgb(187, 184, 184);
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  color: black;
  border: 0.5px solid var(--main-gray);
}

footer {
  margin-top: auto;
  padding: 0px 5px 0px 5px;
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-top: 0.5px solid var(--main-gray);
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  /* background-color: var(--blue3); */
  /* border: 0.5px solid white; */
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.icon:hover {
  opacity: 0.8;
}

.form-item {
  width: 30vw;
  min-width: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.standard-view {
  z-index: 1;
  /* margin: 10px; */
  padding: 10px 30px;
  min-width: 50%;
  /* border: 0.5px solid var(--main-gray); */
  background-color: var(--blue3);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: center;
  overflow-y: scroll;
}

.sub-view {
  border: 3px solid var(--main-gray);
  /* background-color: var(--blue4); */
  padding: 5px 0px;
  margin: 5px 0px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.sub-view-component {
  /* border-bottom: 5px solid var(--blue4); */
  outline: 5px solid var(--blue4);
  padding: 5px;
  margin-bottom: 5px;
}

.projects-view-title {
  align-self: center;
  letter-spacing: 3px;
  font-size: 20px;
  font-weight: bold;
}

.project-btn-container {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.project-button {
  margin-right: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 10px 20px;
  border: 2px solid var(--blue);
  cursor: pointer;
  background-color: var(--purple);
  color: var(--link-blue);
}

.project-button:hover {
  background-color: var(--blue);
}

.project-date {
  font-size: 12px;
  color: var(--orange3);
}

.project-edit-container {
  border: 1px solid var(--main-gray);
  padding: 10px;
}

.component {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  /* max-width: 500px; */
  background-color: var(--blue4);
  border: 0.5px solid var(--main-gray);
  /* box-shadow: 1px 5px 10px 1px var(--main-dark); */
  min-width: 300px;
}

.component button {
  margin-right: 5px;
}

.component-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  color: var(--orange2);
  border-bottom: 1px solid var(--main-gray);
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.title-edit {
  display: flex;
  color: inherit;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.edit-btn {
  cursor: pointer;
  font-size: 0.75em;
  font-weight: normal;
  color: inherit;
}

.current-date {
  display: flex;
  margin-bottom: 5px;
}

.sidebar {
  z-index: 1;
  width: 200px;
  height: 100%;
  position: absolute;
  background: transparent;
  overflow: hidden;
}

.sidebar-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  /* padding: 5px 10px; */
  background-color: var(--blue3);
  transform: translate(-200px, 0px);
  transition: 0.3s all ease-out;
  border-right: 0.5px solid var(--main-gray);
}

.sidebar-container button {
  margin: 0;
  width: 100%;
}

.sidebar-item {
  background-color: var(--blue4);
  border-bottom: 0.5px solid var(--main-gray);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-item:hover {
  background-color: var(--blue);
}

.sidebar-header {
  letter-spacing: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;
  border-bottom: 0.5px solid var(--main-gray);
}

.close-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 3px;
  margin-top: 3px;
  cursor: pointer;
}

.month-container {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--main-gray);
  background-color: var(--blue3);
  align-self: flex-start;
}

.day-container {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--main-gray);
  background-color: var(--blue3);
  align-self: flex-start;
}

.move-btn {
  padding: 5px;
  font-size: small;

}

.calendar-box {
  padding: 5px;
  border: 1px solid var(--main-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable-day {
  cursor: pointer;
}

.non-clickable-day {
  /* cursor: pointer; */
}

.clickable-day:hover {
  background-color: var(--blue);
}

.description {
  font-size: small;
  word-wrap: break-word;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 700px;
  white-space: pre-line;
  margin-bottom: 10px;
}

.single-item-title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.single-item-title {
  font-size: 30px;
  color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.single-item-title select {
  font-size: 15px;
  padding: 1px 2px;
}

.single-item-title button {
  font-size: 15px;
  padding: 1px 2px;
}

.single-item-main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.note-date {
  font-size: 12px;
  color: var(--light-gray);
}

.small-clickable {
  font-size: 12px;
  color: var(--link-blue);
}

.single-item-subheading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--orange3);
}

.sub-list-item {
  margin: 6px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 6px;
  border: 2px solid var(--blue);
  cursor: pointer;
  background-color: var(--purple);
}

.sub-list-item div {
  color: var(--link-blue);
}

.sub-list-item:hover {
  background-color: var(--blue);
}

.single-info-box {
  padding: 0px;
  width: 200px;
  border: 1px solid var(--main-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-info-box-subheading {
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: var(--orange3);
  background-color: var(--blue4);
  padding: 3px;
}

.invite {
  background-color: var(--blue3);
  padding: 18px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 0.5px solid var(--main-gray);
}

.current-location-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}