/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap'); */

@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "Blanka";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/blanka/Blanka-Regular.otf") format("woff2");
}

@font-face {
  font-family: "MonaSans";
  /* font-style: normal; */
  /* letter-spacing: 2rem; */
  /* font-display: swap; */
  src: url("./assets/fonts/Mona_Sans/Mona-Sans.woff2");
}

@font-face {
  font-family: "SeriousSans";
  /* font-style: normal; */
  /* letter-spacing: 2rem; */
  /* font-display: swap; */
  src: url("./assets/fonts/seriousSans/otf/SeriousSans.otf");
}

@font-face {
  font-family: "YoungSerif";
  /* font-style: normal; */
  /* letter-spacing: 2rem; */
  /* font-display: swap; */
  src: url("./assets/fonts/YoungSerif/fonts/edited/YoungSerif-Light1.woff2");
}

@font-face {
  font-family: "YoungSerifLight";
  /* font-style: normal; */
  letter-spacing: 2rem;
  /* font-display: swap; */
  src: url("./assets/fonts/YoungSerif/fonts/edited/YoungSerif-Light4Expanded1GEdit3.woff2");
}

:root {
  --main-white: rgb(230, 230, 230);
  --main-dark: rgb(21, 21, 21);
  --main-gray: rgb(103, 101, 101);
  --light-gray: rgb(174, 173, 173);
  --blue: rgb(59, 85, 120);
  --blue2: rgb(107, 129, 154);
  --blue3: rgb(32, 38, 52);
  --blue4: rgb(43, 59, 83);
  --blue5: rgb(39, 50, 67);
  --blue6: rgb(125, 174, 237);
  --link-blue: rgb(183, 207, 237);
  --purple: rgb(52, 51, 80);
  --pink: rgb(233, 212, 255);
  --green: rgb(141, 194, 81);
  --green2: rgb(47, 129, 3);
  --orange: rgb(165, 79, 4);
  --orange2: rgb(241, 170, 113);
  --orange3: rgb(242, 216, 186);
  --orange4: rgb(213, 189, 161);
  --red1: rgb(225, 75, 75);
  --red2: rgb(120, 46, 46);
  --red3: rgb(245, 123, 123);
  --border-radius: 4px;
  --main-distance: 10px;
  --nav-height: 35px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  color: var(--main-white);
  z-index: 3;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--blue3) transparent;
}

*::-webkit-scrollbar {
  display: none;
  /* width: 0.5em; */
}

*::-webkit-scrollbar-thumb {
  /* background-color: var(--blue3); */
  /* border-radius: 20px; */
}

/* ios hack */
/* @media screen and (-webkit-min-device-pixel-ratio: 0) {
  .text-area-rich,
  select,
  textarea,
  input {
    font-size: 16px;
  }
} */

html {
  height: 100%;
}

span {
  /* specifically for rich text */
  font-size: inherit;
}

body {
  height: 100%;
  background-color: var(--main-dark);
  display: flex;
  flex: 1;
  overflow: auto;
  flex-direction: column;
  letter-spacing: 0.05rem;
  line-height: 1.3;
  font-family: "YoungSerif", "IBM Plex Sans", system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  text-shadow: 0.5px 0.5px black;
}

small {
  font-size: 12px;
  color: var(--orange4);
}

br {
  display: block;
  content: "";
  margin-top: var(--main-distance);
}

hr {
  /* border: 0; */
  border: 0.5px solid var(--blue);
  height: 1px;
  width: 100%;
  margin-top: var(--main-distance);
  margin-bottom: var(--main-distance);
}

.special-hr {
  border: 0;
  background-image: linear-gradient(to right,
      rgba(255, 255, 255, 0),
      var(--main-gray),
      rgba(255, 255, 255, 0));
  margin-top: 5px;
  margin-bottom: 20px;
}

h1 {
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  display: inline-block;
}

h2 {
  color: var(--orange3);
  font-size: 1.1rem;
}

h3 {
  color: var(--orange2);
  font-size: 1rem;
}

nav {
  padding-left: var(--main-distance);
  padding-right: var(--main-distance);
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
  border-bottom: 0.5px solid var(--main-gray);
  font-weight: bold;
}

.title-anchor {
  margin-left: 5px;
  letter-spacing: 3px;
  color: var(--link-blue);
}

#nav-ham {
  visibility: hidden;
  cursor: pointer;
}

#nav-ham:hover {
  opacity: 0.9;
}

#nav-links-container-mobile {
  visibility: hidden;
  position: absolute;
  top: 10%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  z-index: 1;
  background-color: var(--main-dark);
  opacity: 0.95;
}

#nav-links-container-mobile .top-nav-btn {
  margin-bottom: var(--main-distance);
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0.5px solid var(--main-gray);
  border-top: 0.5px solid var(--main-gray);
  transition: 0s;
}

#nav-links-container-mobile .top-nav-btn:hover {
  background-color: var(--blue);
}

@media screen and (max-width: 500px) {
  #nav-ham {
    visibility: visible;
  }

  #nav-links-container {
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: 0;
  }

  #nav-links-container a {
    display: none;
    visibility: hidden;
  }
}

.top-nav-btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--main-distance);
  padding-left: 5px;
  padding-right: 5px;
  border-left: 0.5px solid var(--main-gray);
  border-right: 0.5px solid var(--main-gray);
}

.top-nav-btn {
  transition: 0.5s;
}

.top-nav-btn:hover {
  color: var(--green);
  margin-left: 5px;
  margin-right: 5px;
}

a {
  color: var(--link-blue);
  cursor: pointer;
  text-decoration: none;
  font-size: inherit;
}

a small {
  color: inherit;
}

a:hover {
  color: var(--green);
}

button {
  width: fit-content;
  height: fit-content;
  background: linear-gradient(var(--blue2) 10%, var(--blue) 90%);
  color: inherit;
  border: none;
  padding: 2px 4px;
  font: inherit;
  color: var(--main-white);
  font-size: 18px;
  text-shadow: inherit;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(var(--blue2) 10%, var(--purple) 90%);
}

.btn-h-orange:hover {
  background: linear-gradient(var(--orange2) 10%, var(--orange) 90%);
}

.label-btn {
  padding: 5px;
  text-align: center;
  height: fit-content;
  background: linear-gradient(var(--blue2) 10%, var(--blue) 90%);
  color: inherit;
  border: none;
  padding: 2px 4px;
  font: inherit;
  color: var(--main-white);
  font-size: 18px;
  text-shadow: inherit;
  cursor: pointer;
}

.label-btn:hover {
  background: linear-gradient(var(--green) 10%, var(--green2) 90%);
}

.btn-red {
  background: linear-gradient(var(--red1) 10%, var(--red2) 90%);
}

.btn-red:hover {
  background: linear-gradient(var(--red2) 10%, var(--purple) 90%);
}

form {
  background-color: var(--blue3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

label {
  color: var(--orange2);
}

input {
  border: none;
  outline: none;
  color: var(--main-white);
  background-color: var(--blue3);
  height: 30px;
  display: inline-block;
  padding-left: 5px;
  font-size: inherit;
  font-family: inherit;
  border: 0.5px solid var(--main-gray);
}

.search {
  border: none;
  outline: none;
  color: black;
  background-color: var(--main-white);
  height: 30px;
  display: inline-block;
  padding-left: 5px;
  font-size: inherit;
  font-family: inherit;
}

input[type="number"] {
  width: 100px;
  color: var(--main-white);
  background-color: var(--blue3);
}

input[type="file"] {
  all: unset;
}

input[type="file"]::file-selector-button {
  width: fit-content;
  background: linear-gradient(var(--blue2) 10%, var(--blue) 90%);
  color: inherit;
  border: none;
  padding: 2px 4px;
  font: inherit;
  color: var(--main-white);
  font-size: 18px;
  text-shadow: inherit;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  border: none;
  background: linear-gradient(var(--green) 10%, var(--green2) 90%);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding-right: 5px;
}

[contentEditable="true"]:empty:not(:focus)::before {
  content: attr(data-ph);
  color: var(--light-gray);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--light-gray);
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--light-gray);
}

.form-item input {
  margin-bottom: var(--main-distance);
}

select {
  width: 100px;
  height: fit-content;
  margin: 0;
  outline: 0;
  background: linear-gradient(var(--blue6) 10%, var(--blue) 90%);
  border: none;
  padding: 2px 4px;
  font: inherit;
  color: var(--main-white);
  font-size: 18px;
  text-shadow: inherit;
  cursor: pointer;
}

textarea {
  padding: 5px;
  height: auto;
  min-height: 250px;
  border: none;
  outline: none;
  color: var(--main-white);
  background-color: var(--blue3);
  display: inline-block;
  font-size: inherit;
  font-family: inherit;
  resize: both;
  border: 0.5px solid var(--main-gray);
}

footer {
  margin-top: auto;
  padding: 0px 5px 0px 5px;
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-top: 0.5px solid var(--main-gray);
}

.auth-container {
  padding: var(--main-distance);
}

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard-container {
  display: flex;
  flex: 1;
  background-color: var(--blue3);
  overflow-y: auto;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.icon:hover {
  opacity: 0.8;
}

.gear {
  margin-left: var(--main-distance);
}

.form-item {
  width: 250px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.standard-view {
  z-index: 2;
  padding: var(--main-distance);
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 1000px;
  align-self: center;
  overflow-x: auto;
  overflow-y: auto;
}

.standard-view form {
  flex: 1;
  background-color: inherit;
}

.sub-view {
  border: 3px solid var(--main-gray);
  padding: 5px 0px;
  margin: 5px 0px;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sub-view-component {
  outline: 5px solid var(--blue4);
  padding: 5px;
  margin-bottom: 5px;
}

.projects-view-title {
  align-self: center;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
}

.project-btn-container {
  display: flex;
  flex: 1;
  min-width: 300px;
  max-width: 800px;
  align-items: center;
  margin-bottom: var(--main-distance);
}

.project-button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: var(--main-distance) calc(var(--main-distance) * 2);
  border: 1px solid var(--blue);
  cursor: pointer;
}

.project-button h1 {
  flex: 2;
  font-size: 1rem;
  color: var(--link-blue);
  margin-right: var(--main-distance);
  word-wrap: break-word;
}

.project-btn-info-box {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  word-wrap: break-word;
  justify-content: center;
}

.project-button:hover {
  background-color: var(--blue);
}

.pb-inactive:hover {
  background-color: inherit;
}

.project-edit-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  border: 1px solid var(--blue);
  padding: var(--main-distance);
}

.view-options-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.new-btn {
  background: linear-gradient(var(--green) 10%, var(--green2) 90%);
}

.new-btn:hover {
  background: linear-gradient(var(--orange2) 10%, var(--orange) 90%);
}

.view-filter-options-container {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.view-filter-options-container input {
  margin-left: var(--main-distance);
}

.component {
  align-self: center;
  display: inline-block;
  margin: 5px;
  padding: var(--main-distance);
  width: 700px;
  max-width: 100%;
  height: fit-content;
  background-color: var(--blue4);
}

.component button {
  margin-right: 5px;
}

.component-title {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
  color: var(--orange2);
  border-bottom: 1px solid var(--main-gray);
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.title-edit {
  display: flex;
  color: inherit;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.edit-btn {
  cursor: pointer;
  font-family: "MonaSans", "IBM Plex Sans", system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 0.6em;
  font-weight: normal;
  color: var(--link-blue);
}

.edit-btn:hover {
  color: var(--green);
}

.current-date {
  display: flex;
  margin-bottom: 5px;
}

.sidebar {
  right: 0px;
  z-index: 2;
  width: 200px;
  height: calc(100% - var(--nav-height));
  /* based on nav height */
  position: absolute;
  background: transparent;
}

.sidebar-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  transform: translate(200px, 0px);
  background-color: var(--blue5);
  transition: 0.3s all ease-out;
  border-left: 0.5px solid var(--main-gray);
}

.sidebar-container button {
  margin: 0;
  width: 100%;
}

.sidebar-item {
  padding-left: var(--main-distance);
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-selected-item {
  color: var(--green);
}

.sidebar-item:hover {
  background-color: var(--blue);
}

.sidebar-image-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  border-bottom: 1px solid var(--main-white);
}

.sidebar-header {
  letter-spacing: 1.5px;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: var(--main-distance);
  border-bottom: 0.5px solid var(--main-gray);
}

.close-sidebar {
  position: absolute;
  top: 0px;
  margin-right: 3px;
  margin-top: 3px;
  cursor: pointer;
}

.hamburger {
  top: var(--nav-height);
  /* from nav height */
  right: 5px;
  z-index: 3;
  position: absolute;
  cursor: pointer;
}

.flipXAxis {
  transform: scaleX(-1);
}

.hint {
  font-size: x-small;
  color: var(-light-gray);
  margin-top: 3px;
}

.danger-heading {
  color: var(--red3);
  margin-bottom: 5px;
  font-weight: bold;
  text-decoration: underline;
}

.highlighted-item {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--blue6);
}

.month-container {
  padding: 5px;
  margin-bottom: var(--main-distance);
  border: 1px solid var(--main-gray);
  background-color: var(--blue3);
  align-self: flex-start;
}

.day-container {
  padding: 5px;
  margin-bottom: var(--main-distance);
  border: 1px solid var(--main-gray);
  background-color: var(--blue3);
  align-self: flex-start;
}

.move-btn {
  padding: 5px;
  font-size: small;
}

.calendar-container {
  max-width: 100%;
  overflow-x: auto;
}

.calendar-box {
  padding: 5px;
  border: 1px solid var(--main-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable-day {
  cursor: pointer;
}

.non-clickable-day {
  /* cursor: pointer; */
}

.clickable-day:hover {
  background-color: var(--blue);
}

#description,
.description {
  font-family: "MonaSans", "IBM Plex Sans", system-ui, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: small;
  word-wrap: break-word;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 700px;
  min-height: 100px;
  max-height: 100px;
  font-weight: 450;
  font-variation-settings: "wdth" 95;
  line-height: 1.2em;
  overflow-y: auto;
  white-space: pre-line;
  margin-bottom: var(--main-distance);
  text-shadow: none;
}

.description * {
  font-size: inherit;
}

.single-item-title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.single-item-title {
  font-size: 30px;
  color: var(--green);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.single-item-title select {
  font-size: 15px;
  padding: 1px 2px;
}

.single-item-title button {
  font-size: 15px;
  padding: 1px 2px;
}

.single-item-main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.single-item-main-section .description {
  font-size: small;
  word-wrap: break-word;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 700px;
  max-height: max-content;
  white-space: pre-line;
  margin-bottom: var(--main-distance);
}

.note-date {
  font-size: 12px;
  color: var(--light-gray);
}

.small-clickable {
  width: max-content;
  font-size: small;
  color: var(--link-blue);
}

.single-item-subheading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--orange3);
}

.sub-list-item {
  margin: 6px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3px 6px;
  border: 2px solid var(--blue);
  cursor: pointer;
  background-color: var(--purple);
}

.sub-list-item div {
  color: var(--link-blue);
}

.sub-list-item:hover {
  background-color: var(--blue);
}

.single-info-box {
  padding: 0px;
  width: 200px;
  border: 1px solid var(--main-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-info-box a {
  width: fit-content;
  text-align: center;
}

.single-info-box-subheading {
  padding-left: 3px;
  padding-right: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: var(--orange3);
  background-color: var(--blue4);
  padding: 3px;
}

.invite {
  background-color: var(--blue3);
  padding: 18px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 0.5px solid var(--main-gray);
}

.current-location-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clickable-image {
  cursor: pointer;
}

.clickable-image:hover {
  opacity: 0.7;
}

.toast {
  z-index: 4;
  position: absolute;
  left: 50%;
  top: 10%;
  align-self: center;
  width: fit-content;
  height: fit-content;
  color: inherit;
  background-color: var(--green2);
  padding: 3px 6px;
  font: inherit;
  color: var(--main-white);
  font-size: 18px;
  text-shadow: inherit;
  opacity: 0.9;
  cursor: pointer;
  /* transition: 1s; */
}

.toast-error {
  background-color: var(--red2);
}

.tip-box-x {
  padding: 5px;
  width: fit-content;
  display: flex;
  align-items: center;
  border: 0.5px solid var(--main-gray);
  background-color: var(--blue5);
}

.tip-box-y {
  /* margin: 5px; */
  padding: 5px;
  min-width: 120px;
  max-width: 120px;
  text-align: center;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0.5px solid var(--main-gray);
  background-color: var(--blue5);
}

.tipbox-text {
  color: var(--pink);
  font-size: 0.6rem;
  text-shadow: 1px 1px 0px black;
  line-height: 1.3;
  word-wrap: break-word;
}

/* modal */
/* The Modal (background) */
.modal {
  visibility: hidden;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 4;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Modal Content/Box */
.modal-container {
  width: fit-content;
  /* Could be more or less, depending on screen size */
  display: flex;
  flex-direction: column;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* The Close Button */
.close-modal {
  cursor: pointer;
  color: var(--main-white);
  align-self: flex-end;
  font-size: 30px;
  margin-right: 25%;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-gray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--green2);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--green2);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* spinner */
.initial-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 4px;
  border-radius: 50%;
  border: 3px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*  RICH TEXT */

.rich-text-container {
  display: flex;
  flex-direction: column;
}

.rich-text-option-container {
  border: 0.5px solid var(--main-gray);
  width: 120px;
  display: flex;
}

.text-area-rich {
  padding: 5px;
  height: auto;
  min-height: 250px;
  max-height: 350px;
  overflow: auto;
  border: none;
  outline: none;
  color: var(--main-white);
  background-color: var(--blue3);
  font-size: inherit;
  font-family: inherit;
  resize: both;
  border: 0.5px solid var(--main-gray);
  white-space: pre-wrap;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.modal-pro-warning-container {
  padding: var(--main-distance);
  width: 50%;
  height: fit-content;
  position: inherit;
  border-radius: var(--border-radius);
  border: 0.5px solid var(--main-gray);
  z-index: 4;
  background-color: var(--blue4);
  display: flex;
  flex-direction: column;
}