* {
  user-select: none;
  -moz-user-select: none;
}

.canvas-ui-elem {
  width: max-content;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  border-radius: var(--border-radius);
  top: 10px;
  left: 10px;
  z-index: 3;
  background-color: var(--blue4);
}

.table-sidebar {
  border-bottom: 1px solid var(--main-gray);
  overflow-y: auto;
  height: 500px;
}

#image-following-cursor {
  position: absolute;
  pointer-events: none;
  opacity: 0.6;
}