* {
  user-select: none;
  -moz-user-select: none;
}

.upper-canvas {
  z-index: 3;
}

.table-config {
  width: max-content;
  padding: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: var(--border-radius);
  z-index: 4;
  background-color: var(--blue5);
}

.layers-elem {
  top: 120px;
  left: var(--main-distance);
}

.info-elem {
  top: var(--main-distance);
  left: var(--main-distance);
  padding-left: 6px;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 30px;
}

.info-elem:hover {
  cursor: help;
  background-color: var(--green);
}

.grid-control-elem {
  top: 190px;
  left: var(--main-distance);
}

.draw-mode-toggle-elem {
  top: 50px;
  left: var(--main-distance);
}

.draw-mode-picker-elem {
  top: 50px;
  left: 102.5px;
}

.help-content {
  padding: var(--main-distance);
  border-radius: var(--border-radius);
  background-color: var(--blue5);
  overflow-y: auto;
}

.table-sidebar-images {
  border-bottom: 1px solid var(--main-gray);
  overflow-y: auto;
  height: 500px;
}

#image-following-cursor {
  position: absolute;
  pointer-events: none;
  opacity: 0.6;
}

.online-users-container {
  padding: 5px;
  border-bottom: 1px solid var(--main-gray);
  overflow-y: auto;
  flex: 1;
}

.online-indicator {
  width: var(--main-distance);
  height: var(--main-distance);
  border-radius: 30px;
  background-color: var(--green);
  margin-right: 5px;
}

.online-user-item {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: space-between;
}

.image-name {
  width: 125px;
  word-wrap: break-word;
  margin-right: 3px;
  font-size: small;
  border: none;
  background-color: inherit;
}

.image-name:focus {
  border: 1px solid var(--main-gray)
}

.sidebar-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  padding: 2px;
}

.sidebar-image-container:hover {
  border: 1px solid var(--main-white)
}