* {
  user-select: none;
  -moz-user-select: none;
}

.table-config {
  width: max-content;
  padding: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: var(--border-radius);
  z-index: 3;
  background-color: var(--blue4);
}

.layers-elem {
  top: var(--main-distance);
  left: var(--main-distance);
}

.info-elem {
  top: var(--main-distance);
  right: 208px;
  padding: 3px var(--main-distance);
  border-radius: 30px;
}

.info-elem:hover {
  cursor: help;
  background-color: var(--green);
}

.grid-control-elem {
  top: var(--main-distance);
  left: 140px;
}

.help-content {
  padding: var(--main-distance);
  width: 50vw;
  height: 50vh;
  position: inherit;
  border-radius: var(--border-radius);
  z-index: 3;
  background-color: var(--blue4);
  display: flex;
  flex-direction: column;
}

.table-sidebar-images {
  border-bottom: 1px solid var(--main-gray);
  overflow-y: auto;
  height: 500px;
}

#image-following-cursor {
  position: absolute;
  pointer-events: none;
  opacity: 0.6;
}

.online-users-container {
  padding: 5px;
  border-bottom: 1px solid var(--main-gray);
  overflow-y: auto;
  flex: 1;
}

.online-indicator {
  width: var(--main-distance);
  height: var(--main-distance);
  border-radius: 30px;
  background-color: var(--green);
  margin-right: 5px;
}

.online-user-item {
  display: flex;
  width: max-content;
  align-items: center;
  justify-content: space-between;
}