[Unit]
Description=Run dm-dash postgres backup weekly

[Timer]
OnCalendar=weekly
RandomizedDelaySec=30m
Persistent=true
Unit=dm-dash-backup.service

[Install]
WantedBy=timers.target
