[Unit]
Description=Run dm-dash weekly SRD popular pages sync

[Timer]
OnCalendar=weekly
RandomizedDelaySec=45m
Persistent=true
Unit=dm-dash-srd-popular-pages.service

[Install]
WantedBy=timers.target
