<table>
  <tr>
    <th>Barbarian Level</th>
    <th>Proficiency Bonus</th>
    <th>Features</th>
    <th>Rages</th>
    <th>Rage Damage</th>
  </tr>
  <tr>
    <td>1st</td>
    <td>+2</td>
    <td>Rage, Unarmored Defence</td>
    <td>2</td>
    <td>+2</td>
  </tr>
  <tr>
    <td>2nd</td>
    <td>+2</td>
    <td>Reckless Attack, Danger Sense</td>
    <td>2</td>
    <td>+2</td>
  </tr>
  <tr>
    <td>3rd</td>
    <td>+2</td>
    <td>Primal Path</td>
    <td>3</td>
    <td>+2</td>
  </tr>
  <tr>
    <td>4th</td>
    <td>+2</td>
    <td>Ability Score Improvement</td>
    <td>3</td>
    <td>+2</td>
  </tr>
  <tr>
    <td>5th</td>
    <td>+3</td>
    <td>Extra Attack, Fast Movement</td>
    <td>3</td>
    <td>+2</td>
  </tr>
  <tr>
    <td>6th</td>
    <td>+3</td>
    <td>Path feature</td>
    <td>4</td>
    <td>+2</td>
  </tr>
  <tr>
    <td>7th</td>
    <td>+3</td>
    <td>Feral Instinct</td>
    <td>4</td>
    <td>+2</td>
  </tr>
  <tr>
    <td>8th</td>
    <td>+3</td>
    <td>Ability Score Improvement</td>
    <td>4</td>
    <td>+2</td>
  </tr>
  <tr>
    <td>9th</td>
    <td>+4</td>
    <td>Brutal Critical (1 die)</td>
    <td>4</td>
    <td>+3</td>
  </tr>
  <tr>
    <td>10th</td>
    <td>+4</td>
    <td>Path feature</td>
    <td>4</td>
    <td>+3</td>
  </tr>
  <tr>
    <td>11th</td>
    <td>+4</td>
    <td>Relentless Rage</td>
    <td>4</td>
    <td>+3</td>
  </tr>
  <tr>
    <td>12th</td>
    <td>+4</td>
    <td>Ability Score Improvement</td>
    <td>5</td>
    <td>+3</td>
  </tr>
  <tr>
    <td>13th</td>
    <td>+5</td>
    <td>Brutal Critical (2 dice)</td>
    <td>5</td>
    <td>+3</td>
  </tr>
  <tr>
    <td>14th</td>
    <td>+5</td>
    <td>Path feature</td>
    <td>5</td>
    <td>+3</td>
  </tr>
  <tr>
    <td>15th</td>
    <td>+5</td>
    <td>Persistent Rage</td>
    <td>5</td>
    <td>+3</td>
  </tr>
  <tr>
    <td>16th</td>
    <td>+5</td>
    <td>Ability Score Improvement</td>
    <td>5</td>
    <td>+4</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>+6</td>
    <td>Brutal Critical (3 dice)</td>
    <td>6</td>
    <td>+4</td>
  </tr>
  <tr>
    <td>18th</td>
    <td>+6</td>
    <td>Indomitable Might</td>
    <td>6</td>
    <td>+4</td>
  </tr>
  <tr>
    <td>19th</td>
    <td>+6</td>
    <td>Ability Score Improvement</td>
    <td>6</td>
    <td>+4</td>
  </tr>
  <tr>
    <td>20th</td>
    <td>+6</td>
    <td>Primal Champion</td>
    <td>Unlimited</td>
    <td>+4</td>
  </tr>
</table>
