<table>
  <tr>
    <th>Cleric Level</th>
    <th>Proficiency Bonus</th>
    <th>Features</th>
    <th>Cantrips Known</th>
    <th>1st</th>
    <th>2nd</th>
    <th>3rd</th>
    <th>4th</th>
    <th>5th</th>
    <th>6th</th>
    <th>7th</th>
    <th>8th</th>
    <th>9th</th>
  </tr>
  <tr>
    <td>1st</td>
    <td>+2</td>
    <td>Spellcasting, Divine Domain</td>
    <td>3</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>2nd</td>
    <td>+2</td>
    <td>Channel Divinity (1/rest), Divine Domain feature</td>
    <td>3</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>3rd</td>
    <td>+2</td>
    <td>-</td>
    <td>3</td>
    <td>4</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>4th</td>
    <td>+2</td>
    <td>Ability Score Improvement</td>
    <td>3</td>
    <td>4</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>5th</td>
    <td>+3</td>
    <td>Destroy Undead (CR 1/2)</td>
    <td>4</td>
    <td>4</td>
    <td>3</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>6th</td>
    <td>+3</td>
    <td>Channel Divinity (2/rest), Divine Domain feature</td>
    <td>4</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>7th</td>
    <td>+3</td>
    <td>-</td>
    <td>4</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>1</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>8th</td>
    <td>+3</td>
    <td>
      Ability Score Improvement, Destroy Undead (CR 1), Divine Domain feature
    </td>
    <td>4</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>9th</td>
    <td>+4</td>
    <td>-</td>
    <td>4</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>1</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>10th</td>
    <td>+4</td>
    <td>Divine Intervention</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>11th</td>
    <td>+4</td>
    <td>Destroy Undead (CR 2)</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>1</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>12th</td>
    <td>+4</td>
    <td>Ability Score Improvement</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>1</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>13th</td>
    <td>+5</td>
    <td>-</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>1</td>
    <td>1</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>14th</td>
    <td>+5</td>
    <td>Destroy Undead (CR 3)</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>1</td>
    <td>1</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>15th</td>
    <td>+5</td>
    <td>-</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>-</td>
  </tr>
  <tr>
    <td>16th</td>
    <td>+5</td>
    <td>Ability Score Improvement</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>-</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>+6</td>
    <td>Destroy Undead (CR 4), Divine Domain feature</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr>
    <td>18th</td>
    <td>+6</td>
    <td>Channel Divinity (3/rest)</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr>
    <td>19th</td>
    <td>+6</td>
    <td>Ability Score Improvement</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr>
    <td>20th</td>
    <td>+6</td>
    <td>Divine Intervention improvement</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>2</td>
    <td>1</td>
    <td>1</td>
  </tr>
</table>
