<table>
  <tr>
    <th>Level</th>
    <th>Proficiency Bonus</th>
    <th>Martial Arts</th>
    <th>Ki Points</th>
    <th>Unarmored Movement</th>
    <th>Features</th>
  </tr>
  <tr>
    <td>1st</td>
    <td>+2</td>
    <td>1d4</td>
    <td>-</td>
    <td>-</td>
    <td>Unarmored Defense, Martial Arts</td>
  </tr>
  <tr>
    <td>2nd</td>
    <td>+2</td>
    <td>1d4</td>
    <td>2</td>
    <td>+10ft</td>
    <td>Ki, Unarmored Movement</td>
  </tr>
  <tr>
    <td>3rd</td>
    <td>+2</td>
    <td>1d4</td>
    <td>3</td>
    <td>+10ft</td>
    <td>Monastic Tradition, Deflect Missiles</td>
  </tr>
  <tr>
    <td>4th</td>
    <td>+2</td>
    <td>1d4</td>
    <td>4</td>
    <td>+10ft</td>
    <td>Ability Score Improvement, Slow Fall</td>
  </tr>
  <tr>
    <td>5th</td>
    <td>+3</td>
    <td>1d6</td>
    <td>5</td>
    <td>+10ft</td>
    <td>Extra Attack, Stunning Strike</td>
  </tr>
  <tr>
    <td>6th</td>
    <td>+3</td>
    <td>1d6</td>
    <td>6</td>
    <td>+15ft</td>
    <td>Ki-Empowered Strikes, Monastic Tradition feature</td>
  </tr>
  <tr>
    <td>7th</td>
    <td>+3</td>
    <td>1d6</td>
    <td>7</td>
    <td>+15ft</td>
    <td>Evasion, Stillness of Mind</td>
  </tr>
  <tr>
    <td>8th</td>
    <td>+3</td>
    <td>1d6</td>
    <td>8</td>
    <td>+15ft</td>
    <td>Ability Score Improvement</td>
  </tr>
  <tr>
    <td>9th</td>
    <td>+4</td>
    <td>1d6</td>
    <td>9</td>
    <td>+15ft</td>
    <td>Unarmored Movement improvement</td>
  </tr>
  <tr>
    <td>10th</td>
    <td>+4</td>
    <td>1d6</td>
    <td>10</td>
    <td>+20ft</td>
    <td>Purity of Body</td>
  </tr>
  <tr>
    <td>11th</td>
    <td>+4</td>
    <td>1d8</td>
    <td>11</td>
    <td>+20ft</td>
    <td>Monastic Tradition feature</td>
  </tr>
  <tr>
    <td>12th</td>
    <td>+4</td>
    <td>1d8</td>
    <td>12</td>
    <td>12+20ft</td>
    <td>Ability Score Improvement</td>
  </tr>
  <tr>
    <td>13th</td>
    <td>+5</td>
    <td>1d8</td>
    <td>13</td>
    <td>+20ft</td>
    <td>Tongue of the Sun and Moon</td>
  </tr>
  <tr>
    <td>14th</td>
    <td>+5</td>
    <td>1d8</td>
    <td>14</td>
    <td>+25ft</td>
    <td>Diamond Soul</td>
  </tr>
  <tr>
    <td>15th</td>
    <td>+5</td>
    <td>1d8</td>
    <td>15</td>
    <td>+25ft</td>
    <td>Timeless Body</td>
  </tr>
  <tr>
    <td>16th</td>
    <td>+5</td>
    <td>1d8</td>
    <td>16</td>
    <td>+25ft</td>
    <td>Ability Score Improvement</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>+6</td>
    <td>1d10</td>
    <td>17</td>
    <td>+25ft</td>
    <td>Monastic Tradition feature</td>
  </tr>
  <tr>
    <td>18th</td>
    <td>+6</td>
    <td>1d10</td>
    <td>18</td>
    <td>+30ft</td>
    <td>Empty Body</td>
  </tr>
  <tr>
    <td>19th</td>
    <td>+6</td>
    <td>1d10</td>
    <td>19</td>
    <td>+30ft</td>
    <td>Ability Score Improvement</td>
  </tr>
  <tr>
    <td>20th</td>
    <td>+6</td>
    <td>1d10</td>
    <td>20</td>
    <td>+30ft</td>
    <td>Perfect Self</td>
  </tr>
</table>
