<table>
  <tr>
    <th>Level</th>
    <th>Proficiency Bonus</th>
    <th>Features</th>
    <th>1st</th>
    <th>2nd</th>
    <th>3rd</th>
    <th>4th</th>
    <th>5th</th>
  </tr>
  <tr>
    <td>1st</td>
    <td>+2</td>
    <td>Divine Sense, Lay on Hands</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>2nd</td>
    <td>+2</td>
    <td>Fighting Style, Spellcasting, Divine Smite</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>3rd</td>
    <td>+2</td>
    <td>Divine Health, Sacred Oath</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>4th</td>
    <td>+2</td>
    <td>Ability Score Improvement</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>5th</td>
    <td>+3</td>
    <td>Extra Attack</td>
    <td>4</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>6th</td>
    <td>+3</td>
    <td>Aura of Protection</td>
    <td>4</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>7th</td>
    <td>+3</td>
    <td>Sacred Oath feature</td>
    <td>4</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>8th</td>
    <td>+3</td>
    <td>Ability Score Improvement</td>
    <td>4</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>9th</td>
    <td>+4</td>
    <td>-</td>
    <td>4</td>
    <td>3</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>10th</td>
    <td>+4</td>
    <td>Aura of Courage</td>
    <td>4</td>
    <td>3</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>11th</td>
    <td>+4</td>
    <td>Improved Divine Smite</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>12th</td>
    <td>+4</td>
    <td>Ability Score Improvement</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>13th</td>
    <td>+5</td>
    <td>-</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>1</td>
    <td>-</td>
  </tr>
  <tr>
    <td>14th</td>
    <td>+5</td>
    <td>Cleansing Touch</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>1</td>
    <td>-</td>
  </tr>
  <tr>
    <td>15th</td>
    <td>+5</td>
    <td>Sacred Oath feature</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>-</td>
  </tr>
  <tr>
    <td>16th</td>
    <td>+5</td>
    <td>Ability Score Improvement</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>-</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>+6</td>
    <td>-</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>1</td>
  </tr>
  <tr>
    <td>18th</td>
    <td>+6</td>
    <td>Aura improvements</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>1</td>
  </tr>
  <tr>
    <td>19th</td>
    <td>+6</td>
    <td>Ability Score Improvement</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
  </tr>
  <tr>
    <td>20th</td>
    <td>+6</td>
    <td>Sacred Oath feature</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
  </tr>
</table>
