<table>
  <tr>
    <th>Ranger Level</th>
    <th>Proficiency Bonus</th>
    <th>Features</th>
    <th>Spells Known</th>
    <th>1st</th>
    <th>2nd</th>
    <th>3rd</th>
    <th>4th</th>
    <th>5th</th>
  </tr>
  <tr>
    <td>1st</td>
    <td>+2</td>
    <td>Favored Enemy, Natural Explorer</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>2nd</td>
    <td>+2</td>
    <td>Fighting Style, Spellcasting</td>
    <td>2</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>3rd</td>
    <td>+2</td>
    <td>Ranger Archetype, Primeval Awareness</td>
    <td>3</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>4th</td>
    <td>+2</td>
    <td>Ability Score Improvement</td>
    <td>3</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>5th</td>
    <td>+3</td>
    <td>Extra Attack</td>
    <td>4</td>
    <td>4</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>6th</td>
    <td>+3</td>
    <td>Favored Enemy and Natural Explorer improvements 4</td>
    <td>4</td>
    <td>4</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>7th</td>
    <td>+3</td>
    <td>Ranger Archetype feature</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>8th</td>
    <td>+3</td>
    <td>Ability Score Improvement, Land's Stride</td>
    <td>5</td>
    <td>4</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>9th</td>
    <td>+4</td>
    <td>-</td>
    <td>6</td>
    <td>4</td>
    <td>3</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>10th</td>
    <td>+4</td>
    <td>Natural Explorer improvement, Hide in Plain Sight</td>
    <td>6</td>
    <td>4</td>
    <td>3</td>
    <td>2</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>11th</td>
    <td>+4</td>
    <td>Ranger Archetype feature</td>
    <td>7</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>12th</td>
    <td>+4</td>
    <td>Ability Score Improvement</td>
    <td>7</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>13th</td>
    <td>+5</td>
    <td>-</td>
    <td>8</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>1</td>
    <td>-</td>
  </tr>
  <tr>
    <td>14th</td>
    <td>+5</td>
    <td>Favored Enemy improvement, Vanish</td>
    <td>8</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>1</td>
    <td>-</td>
  </tr>
  <tr>
    <td>15th</td>
    <td>+5</td>
    <td>Ranger Archetype feature</td>
    <td>9</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>-</td>
  </tr>
  <tr>
    <td>16th</td>
    <td>+5</td>
    <td>Ability Score Improvement</td>
    <td>9</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>-</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>+6</td>
    <td>-</td>
    <td>10</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>1</td>
  </tr>
  <tr>
    <td>18th</td>
    <td>+6</td>
    <td>Feral Senses</td>
    <td>10</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>1</td>
  </tr>
  <tr>
    <td>19th</td>
    <td>+6</td>
    <td>Ability Score Improvement</td>
    <td>11</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
  </tr>
  <tr>
    <td>20th</td>
    <td>+6</td>
    <td>Foe Slayer</td>
    <td>11</td>
    <td>4</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
  </tr>
</table>
