<table>
  <tr>
    <th>Warlock Level</th>
    <th>Proficiency Bonus</th>
    <th>Features</th>
    <th>Cantrips Known</th>
    <th>Spells Known</th>
    <th>Spell Slots</th>
    <th>Slot Level</th>
    <th>Invocations Known</th>
  </tr>
  <tr>
    <td>1st</td>
    <td>+2</td>
    <td>Otherworldly Patron, Pact Magic</td>
    <td>2</td>
    <td>2</td>
    <td>1</td>
    <td>1st</td>
    <td>-</td>
  </tr>
  <tr>
    <td>2nd</td>
    <td>+2</td>
    <td>Eldritch Invocations</td>
    <td>2</td>
    <td>3</td>
    <td>2</td>
    <td>1st</td>
    <td>2</td>
  </tr>
  <tr>
    <td>3rd</td>
    <td>+2</td>
    <td>Pact Boon</td>
    <td>2</td>
    <td>4</td>
    <td>2</td>
    <td>2nd</td>
    <td>2</td>
  </tr>
  <tr>
    <td>4th</td>
    <td>+2</td>
    <td>Ability Score Improvement</td>
    <td>3</td>
    <td>5</td>
    <td>2</td>
    <td>2nd</td>
    <td>2</td>
  </tr>
  <tr>
    <td>5th</td>
    <td>+3</td>
    <td>-</td>
    <td>3</td>
    <td>6</td>
    <td>2</td>
    <td>3rd</td>
    <td>3</td>
  </tr>
  <tr>
    <td>6th</td>
    <td>+3</td>
    <td>Otherworldly Patron feature</td>
    <td>3</td>
    <td>7</td>
    <td>2</td>
    <td>3rd</td>
    <td>3</td>
  </tr>
  <tr>
    <td>7th</td>
    <td>+3</td>
    <td>-</td>
    <td>3</td>
    <td>8</td>
    <td>2</td>
    <td>4th</td>
    <td>4</td>
  </tr>
  <tr>
    <td>8th</td>
    <td>+3</td>
    <td>Ability Score Improvement</td>
    <td>3</td>
    <td>9</td>
    <td>2</td>
    <td>4th</td>
    <td>4</td>
  </tr>
  <tr>
    <td>9th</td>
    <td>+4</td>
    <td>-</td>
    <td>3</td>
    <td>10</td>
    <td>2</td>
    <td>5th</td>
    <td>5</td>
  </tr>
  <tr>
    <td>10th</td>
    <td>+4</td>
    <td>Otherworldly Patron feature</td>
    <td>4</td>
    <td>10</td>
    <td>2</td>
    <td>5th</td>
    <td>5</td>
  </tr>
  <tr>
    <td>11th</td>
    <td>+4</td>
    <td>Mystic Arcanum (6th level)</td>
    <td>4</td>
    <td>11</td>
    <td>3</td>
    <td>5th</td>
    <td>5</td>
  </tr>
  <tr>
    <td>12th</td>
    <td>+4</td>
    <td>Ability Score Improvement</td>
    <td>4</td>
    <td>11</td>
    <td>3</td>
    <td>5th</td>
    <td>6</td>
  </tr>
  <tr>
    <td>13th</td>
    <td>+5</td>
    <td>Mystic Arcanum (7th level)</td>
    <td>4</td>
    <td>12</td>
    <td>3</td>
    <td>5th</td>
    <td>6</td>
  </tr>
  <tr>
    <td>14th</td>
    <td>+5</td>
    <td>Otherworldly Patron feature</td>
    <td>4</td>
    <td>12</td>
    <td>3</td>
    <td>5th</td>
    <td>6</td>
  </tr>
  <tr>
    <td>15th</td>
    <td>+5</td>
    <td>Mystic Arcanum (8th level)</td>
    <td>4</td>
    <td>13</td>
    <td>3</td>
    <td>5th</td>
    <td>7</td>
  </tr>
  <tr>
    <td>16th</td>
    <td>+5</td>
    <td>Ability Score Improvement</td>
    <td>4</td>
    <td>13</td>
    <td>3</td>
    <td>5th</td>
    <td>7</td>
  </tr>
  <tr>
    <td>17th</td>
    <td>+6</td>
    <td>Mystic Arcanum (9th level)</td>
    <td>4</td>
    <td>14</td>
    <td>4</td>
    <td>5th</td>
    <td>7</td>
  </tr>
  <tr>
    <td>18th</td>
    <td>+6</td>
    <td>-</td>
    <td>4</td>
    <td>14</td>
    <td>4</td>
    <td>5th</td>
    <td>8</td>
  </tr>
  <tr>
    <td>19th</td>
    <td>+6</td>
    <td>Ability Score Improvement</td>
    <td>4</td>
    <td>15</td>
    <td>4</td>
    <td>5th</td>
    <td>8</td>
  </tr>
  <tr>
    <td>20th</td>
    <td>+6</td>
    <td>Eldritch Master</td>
    <td>4</td>
    <td>15</td>
    <td>4</td>
    <td>5th</td>
    <td>8</td>
  </tr>
</table>
