<div class="intro">
  <h1 class="text-center">Dungeons & Dragons Fifth Edition SRD</h1>
  <small class="text-center"
    >This resource contains useful selections. You can find the complete
    documentation here:
    <a href="https://dnd.wizards.com/resources/systems-reference-document"
      >System Reference Document</a
    >.</small
  >
</div>
