<div
  style="display: flex; flex-direction: column; background-color: inherit"
  id="username-area"
>
  <form
    hx-post="/update_username"
    hx-swap="outerHTML"
    hx-target="#username-area"
  >
    <label for="username">Edit Username</label>
    <input
      type="username"
      id="username"
      name="username"
      value="<%= user.username %>"
      required
    />
    <br />
    <button type="submit">Done</button>
  </form>
</div>
