<div
  style="display: flex; justify-content: space-between; flex-wrap: wrap"
  id="email-area"
>
  <h3>Email</h3>
  <div style="display: flex; align-items: center">
    <a
      class="small-clickable"
      style="margin-right: 5px"
      hx-get="/update_email"
      hx-swap="outerHTML"
      hx-target="#email-area"
      >Edit</a
    >
    <div id="email-display"><%= user.email %></div>
  </div>
</div>
